Repository iterate-ch/cyberduck, pull requests merged in 2022-02, with the labels that each got.

#12847 Add support for password flow.
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSProtocol.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSSession.java
  dracoon/src/main/resources/DRACOON (CLI).cyberduckprofile
  dracoon/src/main/resources/DRACOON (OAuth).cyberduckprofile
Labels: cli, dracoon

#12907 Fix trashing files in vault.
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoVault.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoDeleteV6Feature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoDeleteV7Feature.java
Labels: googledrive

#12906 Ignore 550 failure from FTP server with no support for MLSD and permi…
  core/src/main/java/ch/cyberduck/core/shared/DefaultHomeFinderService.java
  core/src/main/java/ch/cyberduck/core/shared/PathAttributesHomeFeature.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/SharepointListServiceTest.java
Labels: bug, ftp

#12899 Review S3 direct upload
  backblaze/src/main/java/ch/cyberduck/core/b2/B2LargeUploadWriteFeature.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickMultipartWriteFeature.java
  core/src/main/java/ch/cyberduck/core/preferences/Preferences.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3MultipartWriteFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3UploadFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3WriteFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectoryFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSSession.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSTouchFeature.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSDelegatingCopyFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSDelegatingMoveFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSDirectS3MultipartWriteFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSDirectS3UploadFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSMissingFileKeysSchedulerFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSMultipartWriteFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSQuotaFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSSharesUrlProviderTest.java
  eue/src/main/java/ch/cyberduck/core/eue/EueMultipartWriteFeature.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftLargeUploadWriteFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartWriteFeature.java
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateMultipartWriteFeature.java
Labels: dracoon

#12895 Implement the wrapper around named pipes
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPSession.java
  ssh/src/main/java/ch/cyberduck/core/sftp/openssh/OpenSSHAgentAuthenticator.java
  ssh/src/test/java/ch/cyberduck/core/sftp/openssh/OpenSSHAgentAuthenticatorTest.java
Labels: sftp
