Repository iterate-ch/cyberduck, pull requests merged in 2022-12, with the labels that each got.

#13960 Special handling for username obtained from active directory stripping domain for username in default path
  core/src/main/java/ch/cyberduck/core/WindowsIntegratedCredentialsConfigurator.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudHomeFeature.java
  nextcloud/src/test/java/ch/cyberduck/core/nextcloud/NextcloudHomeFeatureTest.java
Labels: nextcloud, owncloud

#13958 Delete directory id backup file prior deleting parent folder.
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoDeleteV6Feature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoDeleteV7Feature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/impl/CryptoDirectoryV7Provider.java
Labels: cryptomator

#13972 Make sure part size is not set lower than `s3.upload.multipart.partsi…
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartUploadService.java
Labels: s3

#13970 Assume placeholders exist regardless of type flag and fail silently on 404
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageAccessControlListFeature.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageDeleteFeature.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageMetadataFeature.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageTimestampFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3AccessControlListFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3EncryptionFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MetadataFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3StorageClassFeature.java
Labels: s3, googlestorage

#13974 Disable Unicode normalization on Windows
  cli/src/main/csharp/ch/cyberduck/cli/WindowsTerminalPreferences.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/SettingsDictionaryPreferences.cs
Labels: core

#13988 Logging.
  core/src/main/csharp/ch/cyberduck/core/diagnostics/TcpReachability.cs
Labels: core

#13990 For some WebDAV server implementations, the ETag on files may change …
  core/src/main/java/ch/cyberduck/core/synchronization/DefaultComparisonService.java
  core/src/test/java/ch/cyberduck/core/synchronization/DefaultComparisonServiceTest.java
Labels: core, webdav

#13987 Review checksums
  core/src/main/java/ch/cyberduck/core/PathAttributes.java
  core/src/test/java/ch/cyberduck/core/PathAttributesTest.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftAttributesFinderFeature.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftProtocol.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftReadFeature.java
  openstack/src/test/java/ch/cyberduck/core/openstack/SwiftAttributesFinderFeatureTest.java
  openstack/src/test/java/ch/cyberduck/core/openstack/SwiftTouchFeatureTest.java
  openstack/src/test/java/ch/cyberduck/core/openstack/SwiftWriteFeatureTest.java
Labels: openstack

#13733 File modification date updated when locking document (Microsoft Word, Sharepoint)
  core/src/main/java/ch/cyberduck/core/synchronization/DefaultComparisonService.java
  defaults/src/main/resources/default.properties
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractSharepointSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphProtocol.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveSession.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/GraphLockFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/GraphMoveFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/GraphTimestampFeatureTest.java
Labels: sharepoint

#13997 Rewrite object when attempting to set timestamp earlier than already …
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageCopyFeature.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageTimestampFeature.java
  googlestorage/src/test/java/ch/cyberduck/core/googlestorage/GoogleStorageTimestampFeatureTest.java
  googlestorage/src/test/java/ch/cyberduck/core/googlestorage/GoogleStorageWriteFeatureTest.java
Labels: googlestorage

#14000 Bugfix unable to edit Sharepoint files
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphSession.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/SharepointSessionTest.java
Labels: bug, sharepoint

#13947 Read IdentityFile configuration directive to limit authentication attempts using agent
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPSession.java
  ssh/src/main/java/ch/cyberduck/core/sftp/auth/SFTPAgentAuthentication.java
  ssh/src/main/java/com/jcraft/jsch/agentproxy/CustomIdentity.java
  ssh/src/test/java/ch/cyberduck/core/sftp/auth/SFTPAgentAuthenticationTest.java
Labels: sftp

#14001 Ignore millis when comparing timestamps.
  core/src/main/java/ch/cyberduck/core/features/Timestamp.java
  core/src/main/java/ch/cyberduck/core/synchronization/TimestampComparisonService.java
  core/src/test/java/ch/cyberduck/core/synchronization/ChainedComparisonServiceTest.java
  core/src/test/java/ch/cyberduck/core/synchronization/DefaultComparisonServiceTest.java
  core/src/test/java/ch/cyberduck/core/synchronization/TimestampComparisonServiceTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/OneDriveTimestampFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/SharepointTimestampFeatureTest.java
Labels: core

#14005 Shutdown scheduler after login failure.
  core/src/main/java/ch/cyberduck/core/shared/AbstractSchedulerFeature.java
Labels: core

#14007 Fix #13899.
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoVault.java
Labels: s3, cryptomator

#14009 @dkocher Use predicate when comparing containers
  backblaze/src/main/java/ch/cyberduck/core/b2/B2CopyFeature.java
  backblaze/src/main/java/ch/cyberduck/core/b2/B2LargeUploadPartService.java
  eue/src/main/java/ch/cyberduck/core/eue/EueMoveFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveAttributesFinderFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveBatchDeleteFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveBatchTrashFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveDeleteFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveDirectoryFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveFileIdProvider.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveListService.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveMoveFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveSession.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveTouchFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveTrashFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/FileidDriveListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphMoveFeature.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftMoveFeature.java
Labels: core

#14012 Run path comparisons using path name only.
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractSharepointSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveSession.java
Labels: onedrive, sharepoint

#14013 Fix order of arguments
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPAttributesFinderFeature.java
Labels: sftp

#14016 Fix NPE for broken bookmark files and make sure that the stream is no…
  core/src/main/java/ch/cyberduck/core/Local.java
  core/src/main/java/ch/cyberduck/core/aquaticprime/DictionaryLicense.java
  core/src/main/java/ch/cyberduck/core/serializer/impl/dd/PlistReader.java
  core/src/test/java/ch/cyberduck/core/serializer/impl/dd/HostPlistReaderTest.java
  core/src/test/resources/broken.duck
Labels: core
