Repository iterate-ch/cyberduck, pull requests merged in 2022-11, with the labels that each got.

#13826 Pre-configure bookmark with username from Integrated Windows Authenti…
  core/src/main/java/ch/cyberduck/core/WindowsIntegratedCredentialsConfigurator.java
  core/src/test/java/ch/cyberduck/core/WindowsIntegratedCredentialsConfiguratorTest.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudProtocol.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudProtocol.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVProtocol.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVSSLProtocol.java
Labels: webdav

#13850 Switch from counter to timestamps for rotated log files to be able to…
  core/src/main/java/ch/cyberduck/core/preferences/Preferences.java
Labels: enhancement

#13862 New defaults module
  core/pom.xml
  core/src/main/java/ch/cyberduck/core/preferences/Preferences.java
  core/src/main/java/ch/cyberduck/core/ssl/CertificateStoreX509KeyManager.java
  defaults/pom.xml
  defaults/src/main/resources/debug/log4j.xml
  defaults/src/main/resources/default.properties
  defaults/src/main/resources/default/log4j.xml
  osx/src/main/java/ch/cyberduck/ui/cocoa/ApplicationUserDefaultsPreferences.java
  pom.xml
Labels: core

#13863 Disallow request files to root.
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxPasswordShareUrlProvider.java
  dropbox/src/test/java/ch/cyberduck/core/dropbox/DropboxPasswordShareUrlProviderTest.java
Labels: dropbox

#13867 Add filename restrictions.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraDirectoryFeature.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraMoveFeature.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraSession.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraTouchFeature.java
Labels: ctera

#13873 Disable setting timestamps in metadata by default.
  defaults/src/main/resources/default.properties
Labels: s3

#13887 Always set owner/group on SFTP
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPAttributesFinderFeature.java
Labels: interface, sftp, appstore

#13881 Delete OAuth tokens and TripleCrypt private key passphrase when unpai…
  core/src/main/java/ch/cyberduck/core/features/CredentialsCleanupService.java
  core/src/main/java/ch/cyberduck/core/features/DelegatingPairingFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSSession.java
  dracoon/src/main/java/ch/cyberduck/core/sds/triplecrypt/TripleCryptCleanupFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/triplecrypt/TripleCryptKeyPair.java
  dracoon/src/test/java/ch/cyberduck/core/sds/triplecrypt/TripleCryptCleanupFeatureTest.java
Labels: dracoon

#13889 Serialize owner and group.
  core/src/main/java/ch/cyberduck/core/PathAttributes.java
  core/src/main/java/ch/cyberduck/core/serializer/PathAttributesDictionary.java
Labels: core

#13891 Allow to run cleanup with no current connection
  core/src/main/java/ch/cyberduck/core/features/CredentialsCleanupService.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSProtocol.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSSession.java
  dracoon/src/main/java/ch/cyberduck/core/sds/triplecrypt/TripleCryptCleanupFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/triplecrypt/TripleCryptKeyPair.java
  dracoon/src/test/java/ch/cyberduck/core/sds/triplecrypt/TripleCryptCleanupFeatureTest.java
Labels: dracoon

#13894 Fix #13893.
  core/src/main/csharp/ch/cyberduck/core/SystemCertificateStore.cs
Labels: core, bug

#13890 Add tests showing that we cannot assume servers preserve normalizatio…
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSListServiceTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueListServiceTest.java
  ssh/src/test/java/ch/cyberduck/core/sftp/SFTPListServiceTest.java
Labels: core

#13903 Update dependencies.
  Packages.props
Labels: core

#13902 Add additional cache of 1 hour. Otherwise we request user keys every …
  defaults/src/main/resources/default.properties
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSMissingFileKeysSchedulerFeature.java
Labels: dracoon

#13913 Move fail fast check to exported feature.
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDeleteFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSThresholdDeleteFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveDeleteFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveThresholdDeleteFeature.java
Labels: googledrive, dracoon

#13914 Make sure result is sorted lexicographically including placeholders.
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageObjectListService.java
  googlestorage/src/test/java/ch/cyberduck/core/googlestorage/GoogleStorageObjectListServiceTest.java
  s3/src/main/java/ch/cyberduck/core/s3/S3ObjectListService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3VersionedObjectListService.java
Labels: s3, googlestorage

#13918 Disable support because of missing support for custom attributes in P…
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraSession.java
Labels: ctera
