Repository iterate-ch/cyberduck, pull requests merged in 2022-03, with the labels that each got.

#12938 Allow updating timestamp on folder.
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSTimestampFeature.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSTimestampFeatureTest.java
Labels: dracoon

#12919 Add failing test.
  core/dylib/src/test/java/ch/cyberduck/core/ResolverTest.java
  core/src/main/java/ch/cyberduck/core/Resolver.java
Labels: core

#12939 ssh config parsing: expand ~ in IdentityAgent path
  ssh/src/main/java/ch/cyberduck/core/sftp/openssh/OpenSSHIdentityAgentConfigurator.java
  ssh/src/main/java/ch/cyberduck/core/sftp/openssh/config/transport/OpenSshConfig.java
Labels: sftp

#12956 Contabo Object Storage profile added.
  profiles/Contabo Object Storage (EU2).cyberduckprofile
Labels: s3

#12946 Set polling interval to 50ms.
  core/src/main/java/ch/cyberduck/core/preferences/Preferences.java
  core/src/main/java/ch/cyberduck/core/threading/ScheduledThreadPool.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3UploadFeature.java
Labels: dracoon

#12977 Preset versions in cache when listing directory
  backblaze/src/main/java/ch/cyberduck/core/b2/B2ExceptionMappingService.java
  backblaze/src/main/java/ch/cyberduck/core/b2/B2ObjectListService.java
  backblaze/src/main/java/ch/cyberduck/core/b2/B2ReadFeature.java
  backblaze/src/test/java/ch/cyberduck/core/b2/B2AttributesFinderFeatureTest.java
  backblaze/src/test/java/ch/cyberduck/core/b2/B2ReadFeatureTest.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSExceptionMappingService.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSListService.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSAttributesFinderFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSReadFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueWriteFeatureTest.java
Labels: b2, dracoon

#12985 Set override conflict resolution strategy regardless of existing file.
  dracoon/src/main/java/ch/cyberduck/core/sds/PresignedMultipartOutputStream.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3MultipartWriteFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3UploadFeature.java
Labels: dracoon

#12988 Bugfix/md 16352
  s3/src/main/java/ch/cyberduck/core/s3/S3AttributesAdapter.java
  s3/src/test/java/ch/cyberduck/core/s3/S3AttributesAdapterTest.java
Labels: s3

#12991 Review failure mapping from thread pool.
  backblaze/src/main/java/ch/cyberduck/core/b2/B2LargeCopyFeature.java
  backblaze/src/main/java/ch/cyberduck/core/b2/B2LargeUploadService.java
  box/src/main/java/ch/cyberduck/core/box/BoxLargeUploadService.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickFileMigrationFeature.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickUploadFeature.java
  core/src/main/java/ch/cyberduck/core/worker/ConcurrentTransferWorker.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoChecksumCompute.java
  dracoon/src/main/java/ch/cyberduck/core/sds/PresignedMultipartOutputStream.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3MultipartWriteFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3UploadFeature.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxBatchDeleteFeature.java
  eue/src/main/java/ch/cyberduck/core/eue/EueLargeUploadService.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageObjectListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphCommonsHttpRequestExecutor.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftLargeObjectUploadFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartCopyFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartUploadService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3VersionedObjectListService.java
Labels: core

#13005 Fix null pointer.
  dracoon/src/main/java/ch/cyberduck/core/sds/PresignedMultipartOutputStream.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3UploadFeature.java
Labels: dracoon

#13002 Review #12797.
  cli/src/main/java/ch/cyberduck/cli/TerminalTransferPrompt.java
  core/src/main/java/ch/cyberduck/core/transfer/DownloadTransfer.java
Labels: core

#13006 Add tests for size in status response.
  backblaze/src/test/java/ch/cyberduck/core/b2/B2LargeUploadServiceTest.java
  backblaze/src/test/java/ch/cyberduck/core/b2/B2LargeUploadWriteFeatureTest.java
  box/src/test/java/ch/cyberduck/core/box/BoxLargeUploadServiceTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSDirectS3MultipartWriteFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSMultipartWriteFeatureTest.java
  eue/src/main/java/ch/cyberduck/core/eue/EueLargeUploadService.java
  eue/src/main/java/ch/cyberduck/core/eue/EueMultipartWriteFeature.java
  eue/src/test/java/ch/cyberduck/core/eue/EueLargeUploadServiceTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueMultipartWriteFeatureTest.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftLargeObjectUploadFeature.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftLargeUploadWriteFeature.java
  openstack/src/test/java/ch/cyberduck/core/cryptomator/SwiftLargeObjectUploadFeatureTest.java
  openstack/src/test/java/ch/cyberduck/core/openstack/SwiftLargeObjectUploadFeatureTest.java
  openstack/src/test/java/ch/cyberduck/core/openstack/SwiftLargeUploadWriteFeatureTest.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartUploadService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartWriteFeature.java
  s3/src/test/java/ch/cyberduck/core/s3/S3MultipartUploadServiceTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3MultipartWriteFeatureTest.java
  storegate/src/test/java/ch/cyberduck/core/storegate/StoregateMultipartWriteFeatureTest.java
Labels: s3, openstack

#13018 Create correct share link format depending on backend version
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSSharesUrlProvider.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSSharesUrlProviderTest.java
Labels: dracoon

#13016 Make sure no partial directory listing is added to cache.
  core/src/main/java/ch/cyberduck/core/CachingAttributesFinderFeature.java
  core/src/main/java/ch/cyberduck/core/CachingFindFeature.java
  core/src/main/java/ch/cyberduck/core/CachingListProgressListener.java
  core/src/main/java/ch/cyberduck/core/shared/DefaultAttributesFinderFeature.java
  core/src/main/java/ch/cyberduck/core/shared/ListFilteringFeature.java
  core/src/main/java/ch/cyberduck/core/transfer/UploadTransfer.java
  core/src/test/java/ch/cyberduck/core/CachingAttributesFinderFeatureTest.java
  core/src/test/java/ch/cyberduck/core/CachingFindFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/shared/CachingAttributesFinderFeatureTest.java
Labels: core

#13009 Abort polling after timeout
  core/src/main/java/ch/cyberduck/core/preferences/Preferences.java
  core/src/main/java/ch/cyberduck/core/threading/ScheduledThreadPool.java
  dracoon/src/main/java/ch/cyberduck/core/sds/PresignedMultipartOutputStream.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3MultipartWriteFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3UploadFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSUploadService.java
Labels: dracoon

#13014 Extract common abstract caching feature. Fix to also invalidate cache…
  backblaze/src/main/java/ch/cyberduck/core/b2/B2VersionIdProvider.java
  box/src/main/java/ch/cyberduck/core/box/BoxFileidProvider.java
  core/src/main/java/ch/cyberduck/core/CachingFileIdProvider.java
  core/src/main/java/ch/cyberduck/core/CachingVersionIdProvider.java
  core/src/main/java/ch/cyberduck/core/SimplePathPredicate.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSNodeIdProvider.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSDeleteFeatureTest.java
  eue/src/main/java/ch/cyberduck/core/eue/EueResourceIdProvider.java
  eue/src/test/java/ch/cyberduck/core/eue/AbstractEueSessionTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueAttributesFinderFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueCopyFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueDeleteFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueFindFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueListServiceTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueMoveFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueReadFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueResourceIdProviderTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueShareFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueTrashFeatureTest.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveFileIdProvider.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphFileIdProvider.java
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateIdProvider.java
Labels: core

#13022 Refactor to allow callbacks through filter in pre and post transfer s…
  core/src/main/java/ch/cyberduck/core/transfer/CopyTransfer.java
  core/src/main/java/ch/cyberduck/core/transfer/DownloadTransfer.java
  core/src/main/java/ch/cyberduck/core/transfer/SyncTransfer.java
  core/src/main/java/ch/cyberduck/core/transfer/SynchronizingTransferErrorCallback.java
  core/src/main/java/ch/cyberduck/core/transfer/Transfer.java
  core/src/main/java/ch/cyberduck/core/transfer/TransferPathFilter.java
  core/src/main/java/ch/cyberduck/core/transfer/UploadTransfer.java
  core/src/main/java/ch/cyberduck/core/transfer/copy/AbstractCopyFilter.java
  core/src/main/java/ch/cyberduck/core/transfer/download/AbstractDownloadFilter.java
  core/src/main/java/ch/cyberduck/core/transfer/synchronisation/SynchronizationPathFilter.java
  core/src/main/java/ch/cyberduck/core/transfer/upload/AbstractUploadFilter.java
  core/src/main/java/ch/cyberduck/core/worker/AbstractTransferWorker.java
  core/src/test/java/ch/cyberduck/core/transfer/DownloadTransferTest.java
  core/src/test/java/ch/cyberduck/core/transfer/UploadTransferTest.java
  core/src/test/java/ch/cyberduck/core/transfer/copy/OverwriteFilterTest.java
  core/src/test/java/ch/cyberduck/core/transfer/upload/RenameExistingFilterTest.java
  core/src/test/java/ch/cyberduck/core/worker/ConcurrentTransferWorkerTest.java
  core/src/test/java/ch/cyberduck/core/worker/SingleTransferWorkerTest.java
Labels: core

#13023 Add missing callbacks for files deleted recursively.
  core/src/main/java/ch/cyberduck/core/worker/DeleteWorker.java
Labels: core

#13026 Set file info when switching upload strategy.
  backblaze/src/main/java/ch/cyberduck/core/b2/B2LargeUploadWriteFeature.java
  backblaze/src/test/java/ch/cyberduck/core/b2/B2LargeUploadWriteFeatureTest.java
Labels: b2
