Repository iterate-ch/cyberduck, pull requests merged in 2022-06, with the labels that each got.

#13431 Add support to permanently delete files in trash
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSBatchDeleteFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDeleteFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSThresholdDeleteFeature.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSBatchDeleteFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSDeleteFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSThresholdDeleteFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSVersioningFeatureTest.java
Labels: dracoon

#13430 Add tests. Support to permanently delete files is currently not possi…
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxBatchDeleteFeature.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxDeleteFeature.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxThresholdDeleteFeature.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxVersioningFeature.java
  dropbox/src/test/java/ch/cyberduck/core/dropbox/DropboxVersioningFeatureTest.java
Labels: dropbox

#13464 Add Infomaniak Public Cloud profile
  profiles/Infomaniak Public Cloud (01).cyberduckprofile
Labels: openstack

#13480 Include attributes in write status to reduce number of requests requi…
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphWriteFeature.java
  onedrive/src/test/java/ch/cyberduck/core/cryptomator/GraphWriteFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/GraphWriteFeatureTest.java
Labels: onedrive, sharepoint

#13483 Review versioning feature
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractSharepointListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractSharepointSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphDrivesListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphItemListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/SharepointListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/SharepointSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/SharepointSiteListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphDeleteFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphTouchFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphVersioningFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphWriteFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/onedrive/SharedWithMeListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/sharepoint/GroupDrivesListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/sharepoint/GroupListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/sharepoint/SiteDrivesListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/sharepoint/SitesListService.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/GraphDeleteFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/OneDriveVersioningFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/OneDriveWriteFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/SharepointVersioningFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/SharepointWriteFeatureTest.java
Labels: onedrive, sharepoint

#13495 Add special case for tab to use name of protocol.
  binding/src/main/java/ch/cyberduck/binding/ToolbarWindowController.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/InfoController.java
Labels: interface
