Repository iterate-ch/cyberduck, pull requests merged in 2022-08, with the labels that each got.

#13624 Make sure directory handles are always properly closed especially for…
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPListService.java
Labels: sftp

#13630 Handling of default paths in Sharepoint
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractSharepointSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphFileIdProvider.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/SharepointSiteSessionTest.java
Labels: sharepoint

#13637 Retrieve Publication property to support file locking
  onedrive/pom.xml
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractSharepointSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphItemListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/SharepointListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphAttributesFinderFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphLockFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphMoveFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphQuotaFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphVersioningFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/sharepoint/SharepointSiteFileIdProvider.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/sharepoint/SitesListService.java
Labels: onedrive, sharepoint

#13671 Allocate native handles to pass to TaskDialogIndirect correctly
  core/src/main/csharp/ch/cyberduck/core/taskdialog/TaskDialog.cs
Labels: bug, interface

#13679 Reuse already working implementation to get default browser icon
  core/native/refresh/src/main/csharp/Services/WinFormsIconProvider.cs
Labels: interface

#13686 Handle strange case that can occur when retrying requests in which th…
  s3/src/main/java/ch/cyberduck/core/s3/RequestEntityRestStorageService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3HttpRequestRetryHandler.java
  s3/src/test/java/ch/cyberduck/core/s3/S3HttpRequestRetryHandlerTest.java
Labels: s3

#13700 Prioritise password authentication if one is set.
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPSession.java
Labels: sftp
