Repository iterate-ch/cyberduck, pull requests merged in 2023-09, with the labels that each got.

#15096 Introduce property to allow skipping certain files from decrypting.
  core/src/main/java/ch/cyberduck/core/vault/DecryptingListProgressListener.java
  defaults/src/main/resources/default.properties
Labels: cryptomator

#15020 Add SMB protocol support
  .github/workflows/build.yml
  Acknowledgments.rtf
  Credits.rtf
  bonjour/src/main/java/ch/cyberduck/core/bonjour/AbstractRendezvous.java
  cli/src/main/java/ch/cyberduck/cli/Terminal.java
  cli/src/main/java/ch/cyberduck/cli/TerminalHelpPrinter.java
  core/src/main/java/ch/cyberduck/core/Protocol.java
  core/src/main/java/ch/cyberduck/core/Scheme.java
  core/src/main/java/ch/cyberduck/core/preferences/Preferences.java
  defaults/src/main/resources/default.properties
  i18n/src/main/resources/en.lproj/SMB.strings
  osx/src/main/java/ch/cyberduck/ui/cocoa/MainApplication.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BookmarkController.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/PasswordController.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/PreferencesController.java
  pom.xml
  profiles/default/SMB.cyberduckprofile
  protocols/pom.xml
  smb/pom.xml
  smb/src/main/java/ch/cyberduck/core/smb/SMBAttributesFinderFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBCopyFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBDeleteFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBDirectoryFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBExceptionMappingService.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBFindFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBListService.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBMoveFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBPathContainerService.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBProtocol.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBQuotaFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBReadFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBRootListService.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBSession.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBTimestampFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBTouchFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBWriteFeature.java
  smb/src/test/java/ch/cyberduck/core/smb/AbstractSMBTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBAttributesFinderFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBCopyFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBDeleteFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBDirectoryFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBFindFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBListServiceTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBMoveFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBQuotaFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBReadFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBRootListServiceTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBSessionTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBTimestampFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBTouchFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBWriteFeatureTest.java
  smb/src/test/resources/smb/Dockerfile
  smb/src/test/resources/smb/entrypoint.sh
  smb/src/test/resources/smb/smb.conf
  smb/src/test/resources/smb/supervisord.conf
  windows/src/main/csharp/ch/cyberduck/ui/controller/BookmarkController.cs
  windows/src/main/csharp/ch/cyberduck/ui/controller/MainController.cs
  windows/src/main/csharp/ch/cyberduck/ui/controller/PreferencesController.cs
  windows/src/main/wix/Bundle/Cyberduck.wxs
Labels: smb

#15130 Review dfc1f972.
  ssh/src/main/java/ch/cyberduck/core/sftp/auth/SFTPChallengeResponseAuthentication.java
Labels: sftp

#15136 Read user email from JWT token
  core/src/main/java/ch/cyberduck/core/Profile.java
  cryptomator/pom.xml
  owncloud/pom.xml
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudSession.java
  pom.xml
  s3/pom.xml
Labels: owncloud

#15160 Fix rename of file with case change only with case-insensitive storage
  brick/src/main/java/ch/cyberduck/core/brick/BrickMoveFeature.java
  brick/src/test/java/ch/cyberduck/core/brick/BrickMoveFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSDelegatingMoveFeatureTest.java
  eue/src/main/java/ch/cyberduck/core/eue/EueMoveFeature.java
  eue/src/test/java/ch/cyberduck/core/eue/EueMoveFeatureTest.java
Labels: files.com
