Repository iterate-ch/cyberduck, pull requests merged in 2023-12, with the labels that each got.

#15412 Catch and log possible IVirtualDesktopManager errors
  windows/src/main/csharp/ch/cyberduck/ui/controller/BrowserController.cs
Labels: interface

#15443 Restrict search to single level of parent node when known.
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSNodeIdProvider.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSNodeIdProviderTest.java
Labels: dracoon

#15485 Add localization for default classifications.
  i18n/src/main/resources/ar.lproj/SDS.strings
  i18n/src/main/resources/bg.lproj/SDS.strings
  i18n/src/main/resources/ca.lproj/SDS.strings
  i18n/src/main/resources/cs.lproj/SDS.strings
  i18n/src/main/resources/cy.lproj/SDS.strings
  i18n/src/main/resources/da.lproj/SDS.strings
  i18n/src/main/resources/de.lproj/SDS.strings
  i18n/src/main/resources/el.lproj/SDS.strings
  i18n/src/main/resources/en.lproj/Preferences.xib
  i18n/src/main/resources/en.lproj/SDS.strings
  i18n/src/main/resources/en.lproj/Support.xib
  i18n/src/main/resources/es.lproj/SDS.strings
  i18n/src/main/resources/et.lproj/SDS.strings
  i18n/src/main/resources/fi.lproj/SDS.strings
  i18n/src/main/resources/fr.lproj/SDS.strings
  i18n/src/main/resources/he.lproj/SDS.strings
  i18n/src/main/resources/hr.lproj/SDS.strings
  i18n/src/main/resources/hu.lproj/SDS.strings
  i18n/src/main/resources/it.lproj/SDS.strings
  i18n/src/main/resources/ja.lproj/SDS.strings
  i18n/src/main/resources/ka.lproj/SDS.strings
  i18n/src/main/resources/ko.lproj/SDS.strings
  i18n/src/main/resources/lv.lproj/SDS.strings
  i18n/src/main/resources/nl.lproj/SDS.strings
  i18n/src/main/resources/no.lproj/SDS.strings
  i18n/src/main/resources/pl.lproj/SDS.strings
  i18n/src/main/resources/pt_BR.lproj/SDS.strings
  i18n/src/main/resources/pt_PT.lproj/SDS.strings
  i18n/src/main/resources/ro.lproj/SDS.strings
  i18n/src/main/resources/ru.lproj/SDS.strings
  i18n/src/main/resources/sk.lproj/SDS.strings
  i18n/src/main/resources/sl.lproj/SDS.strings
  i18n/src/main/resources/sr.lproj/SDS.strings
  i18n/src/main/resources/sv.lproj/SDS.strings
  i18n/src/main/resources/th.lproj/SDS.strings
  i18n/src/main/resources/tr.lproj/SDS.strings
  i18n/src/main/resources/uk.lproj/SDS.strings
  i18n/src/main/resources/zh_CN.lproj/SDS.strings
  i18n/src/main/resources/zh_TW.lproj/SDS.strings
Labels: dracoon

#15496 Setting timestamp on file results in 0 byte file
  smb/src/main/java/ch/cyberduck/core/smb/SMBTimestampFeature.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBTimestampFeatureTest.java
Labels: smb
