Repository iterate-ch/cyberduck, pull requests merged in 2023-10, with the labels that each got.

#15172 Allow empty passwords for SFTP interactive challenge
  ssh/src/main/java/ch/cyberduck/core/sftp/auth/SFTPChallengeResponseAuthentication.java
Labels: sftp

#15180 Review features to work with bookmarks with bucket name set in hostname
  s3/src/main/java/ch/cyberduck/core/s3/S3LoggingFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartCopyFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3VersioningFeature.java
  s3/src/test/java/ch/cyberduck/core/s3/S3ListServiceTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3MultipartCopyFeatureTest.java
Labels: s3

#13583 Review handling of 412 reply on upload
  webdav/src/main/java/ch/cyberduck/core/dav/DAVWriteFeature.java
Labels: webdav

#15228 Attempt interoperability with SMBv1.
  defaults/src/main/resources/default.properties
  smb/src/main/java/ch/cyberduck/core/smb/SMBSession.java
Labels: smb

#15236 Fix #15222.
  core/src/main/java/ch/cyberduck/core/CredentialsConfiguratorFactory.java
  s3/src/main/java/ch/cyberduck/core/s3/S3CredentialsConfigurator.java
  s3/src/main/java/ch/cyberduck/core/s3/S3Session.java
Labels: s3

#15238 Fix exception mapping for transport failures.
  smb/src/main/java/ch/cyberduck/core/smb/SMBAttributesFinderFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBCopyFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBDeleteFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBDirectoryFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBExceptionMappingService.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBFindFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBListService.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBMoveFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBReadFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBRootListService.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBSession.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBTimestampFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBTransportExceptionMappingService.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBExceptionMappingServiceTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBTransportExceptionMappingServiceTest.java
Labels: smb

#15227 Allow to override authentication strategy in subclasses.
  s3/src/main/java/ch/cyberduck/core/s3/S3Session.java
  s3/src/main/java/ch/cyberduck/core/sts/STSAssumeRoleCredentialsRequestInterceptor.java
Labels: s3
