Repository iterate-ch/cyberduck, pull requests merged in 2023-06, with the labels that each got.

#14742 Allow both ms and seconds as format.
  core/src/main/csharp/ch/cyberduck/core/date/UserDefaultsDateFormatter.cs
  s3/src/main/java/ch/cyberduck/core/s3/S3TimestampFeature.java
  s3/src/test/java/ch/cyberduck/core/s3/S3TimestampFeatureTest.java
Labels: s3

#14817 Only reset credentials for stateless connections to avoid issues with multiple connections attempting logins concurrently.
  core/src/main/java/ch/cyberduck/core/KeychainLoginService.java
  ftp/src/test/java/ch/cyberduck/core/ftp/LoggingProtocolCommandListenerTest.java
Labels: ftp

#14829 Refactor vault implementation to allow for different implementations
  cli/src/main/java/ch/cyberduck/cli/Terminal.java
  core/src/main/java/ch/cyberduck/core/SessionPoolFactory.java
  core/src/main/java/ch/cyberduck/core/pool/DefaultSessionPool.java
  core/src/main/java/ch/cyberduck/core/pool/SessionPool.java
  core/src/main/java/ch/cyberduck/core/pool/StatelessSessionPool.java
  core/src/main/java/ch/cyberduck/core/preferences/Preferences.java
  core/src/main/java/ch/cyberduck/core/vault/DefaultVaultRegistry.java
  core/src/main/java/ch/cyberduck/core/vault/DisabledVaultRegistry.java
  core/src/main/java/ch/cyberduck/core/vault/VaultFinderListProgressListener.java
  core/src/main/java/ch/cyberduck/core/vault/VaultRegistry.java
  core/src/main/java/ch/cyberduck/core/vault/VaultRegistryFactory.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryCopyFeature.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryDeleteFeature.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryDirectoryFeature.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryFindFeature.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryMoveFeature.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryTouchFeature.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryUrlProvider.java
  core/src/test/java/ch/cyberduck/core/vault/VaultRegistryFactoryTest.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoVault.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BrowserController.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/toolbar/BrowserToolbarValidator.java
  windows/src/main/csharp/ch/cyberduck/ui/controller/BrowserController.cs
Labels: cryptomator

#14828 Run through hostname configurator prior trying to resolve address.
  core/dylib/src/main/java/ch/cyberduck/core/diagnostics/SystemConfigurationReachability.java
  core/src/main/java/ch/cyberduck/core/HostUrlProvider.java
  core/src/main/java/ch/cyberduck/core/diagnostics/DefaultInetAddressReachability.java
Labels: core, sftp

#14765 Add tests.
  azure/src/test/java/ch/cyberduck/core/azure/AzureMoveFeatureTest.java
  backblaze/src/test/java/ch/cyberduck/core/b2/B2MoveFeatureTest.java
  box/src/test/java/ch/cyberduck/core/box/BoxMoveFeatureTest.java
  brick/src/test/java/ch/cyberduck/core/brick/BrickMoveFeatureTest.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSDelegatingMoveFeatureTest.java
  dropbox/src/test/java/ch/cyberduck/core/dropbox/DropboxMoveFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/eue/EueMoveFeatureTest.java
  googledrive/src/test/java/ch/cyberduck/core/googledrive/DriveMoveFeatureTest.java
  googlestorage/src/test/java/ch/cyberduck/core/googlestorage/GoogleStorageMoveFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3MoveFeatureTest.java
  ssh/src/test/java/ch/cyberduck/core/sftp/SFTPMoveFeatureTest.java
  storegate/src/test/java/ch/cyberduck/core/storegate/StoregateMoveFeatureTest.java
  webdav/src/test/java/ch/cyberduck/core/dav/DAVMoveFeatureTest.java
Labels: webdav

#14799 Review setup based on AWS CLI configuration.
  s3/src/main/java/ch/cyberduck/core/s3/S3Session.java
  s3/src/main/java/ch/cyberduck/core/s3/S3TokenExpiredResponseInterceptor.java
  s3/src/main/java/ch/cyberduck/core/sts/AWSProfileSTSCredentialsConfigurator.java
  s3/src/test/java/ch/cyberduck/core/sts/AWSProfileSTSCredentialsConfiguratorTest.java
Labels: s3

#14831 Switch to non-batching implementation when request fails with {"code"…
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSBatchDeleteFeature.java
Labels: dracoon
