Repository iterate-ch/cyberduck, pull requests merged in 2023-01, with the labels that each got.

#14030 Add custom provider.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraUrlProvider.java
  ctera/src/test/java/ch/cyberduck/core/ctera/CteraUrlProviderTest.java
Labels: ctera

#14037 Register implementation.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraSession.java
Labels: ctera

#14039 Handle rare case of shared bookmarks including macOS-paths on Windows
  core/src/main/csharp/ch/cyberduck/core/local/SystemLocal.cs
  core/src/test/csharp/ch/cyberduck/core/local/SystemLocalTest.cs
Labels: core

#14040 Review cache implementation
  core/dylib/src/test/java/ch/cyberduck/core/NSObjectTransferItemReferenceTest.java
  core/dylib/src/test/java/ch/cyberduck/core/TransferItemCacheTest.java
  core/src/main/java/ch/cyberduck/core/AbstractCache.java
  core/src/main/java/ch/cyberduck/core/Cache.java
  core/src/main/java/ch/cyberduck/core/PathCache.java
  core/src/main/java/ch/cyberduck/core/ReverseLookupCache.java
  core/src/main/java/ch/cyberduck/core/TransferItemCache.java
  core/src/main/java/ch/cyberduck/core/worker/TransferPromptFilterWorker.java
  core/src/test/java/ch/cyberduck/core/PathCacheTest.java
  core/src/test/java/ch/cyberduck/core/ReverseLookupCacheTest.java
Labels: core

#14034 Make sure we either get result or exception regardless of failure type.
  core/src/main/java/ch/cyberduck/core/threading/SessionBackgroundAction.java
  core/src/test/java/ch/cyberduck/core/threading/SessionBackgroundActionTest.java
Labels: core

#14041 Remove any X-Static-Large-Object in metadata from previously uploaded…
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftWriteFeature.java
  openstack/src/test/java/ch/cyberduck/core/openstack/SwiftLargeUploadWriteFeatureTest.java
Labels: openstack

#14047 Use BrowserColumn for localizations.
  windows/src/main/csharp/ch/cyberduck/ui/winforms/BrowserForm.Designer.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/BrowserForm.cs
Labels: interface

#14046 Fix #14045.
  core/src/main/java/ch/cyberduck/core/AbstractProtocol.java
  core/src/main/java/ch/cyberduck/core/Profile.java
  core/src/main/java/ch/cyberduck/core/Protocol.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageProtocol.java
  i18n/src/main/resources/ar.lproj/S3.strings
  i18n/src/main/resources/bg.lproj/S3.strings
  i18n/src/main/resources/ca.lproj/S3.strings
  i18n/src/main/resources/cs.lproj/S3.strings
  i18n/src/main/resources/cy.lproj/S3.strings
  i18n/src/main/resources/da.lproj/S3.strings
  i18n/src/main/resources/de.lproj/S3.strings
  i18n/src/main/resources/el.lproj/S3.strings
  i18n/src/main/resources/en.lproj/S3.strings
  i18n/src/main/resources/es.lproj/S3.strings
  i18n/src/main/resources/et.lproj/S3.strings
  i18n/src/main/resources/fi.lproj/S3.strings
  i18n/src/main/resources/fr.lproj/S3.strings
  i18n/src/main/resources/he.lproj/S3.strings
  i18n/src/main/resources/hr.lproj/S3.strings
  i18n/src/main/resources/hu.lproj/S3.strings
  i18n/src/main/resources/it.lproj/S3.strings
  i18n/src/main/resources/ja.lproj/S3.strings
  i18n/src/main/resources/ka.lproj/S3.strings
  i18n/src/main/resources/ko.lproj/S3.strings
  i18n/src/main/resources/lv.lproj/S3.strings
  i18n/src/main/resources/nl.lproj/S3.strings
  i18n/src/main/resources/no.lproj/S3.strings
  i18n/src/main/resources/pl.lproj/S3.strings
  i18n/src/main/resources/pt_BR.lproj/S3.strings
  i18n/src/main/resources/pt_PT.lproj/S3.strings
  i18n/src/main/resources/ro.lproj/S3.strings
  i18n/src/main/resources/ru.lproj/S3.strings
  i18n/src/main/resources/sk.lproj/S3.strings
  i18n/src/main/resources/sl.lproj/S3.strings
  i18n/src/main/resources/sr.lproj/S3.strings
  i18n/src/main/resources/sv.lproj/S3.strings
  i18n/src/main/resources/th.lproj/S3.strings
  i18n/src/main/resources/tr.lproj/S3.strings
  i18n/src/main/resources/uk.lproj/S3.strings
  i18n/src/main/resources/zh_CN.lproj/S3.strings
  i18n/src/main/resources/zh_TW.lproj/S3.strings
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/RegionController.java
  profiles/default/Google Cloud Storage.cyberduckprofile
  profiles/default/S3 (HTTPS).cyberduckprofile
  s3/src/main/java/ch/cyberduck/core/s3/S3Protocol.java
Labels: s3

#14052 Fix #14051. Allow null keys in cache.
  core/dylib/src/test/java/ch/cyberduck/core/TransferItemCacheTest.java
  core/src/main/java/ch/cyberduck/core/AbstractCache.java
  core/src/main/java/ch/cyberduck/core/PathCache.java
  core/src/main/java/ch/cyberduck/core/TransferItemCache.java
  core/src/test/java/ch/cyberduck/core/PathCacheTest.java
Labels: core

#14062 Only consider fallback to path style requests when not AWS
  s3/src/main/java/ch/cyberduck/core/s3/RequestEntityRestStorageService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3BucketRegionRedirectStrategy.java
  s3/src/main/java/ch/cyberduck/core/s3/S3PathStyleFallbackAdapter.java
Labels: s3

#14070 Refactor saving updated tokens when refreshed outside of login flow
  box/src/main/java/ch/cyberduck/core/box/BoxSession.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickSession.java
  core/src/main/java/ch/cyberduck/core/DefaultHostPasswordStore.java
  core/src/main/java/ch/cyberduck/core/OAuthTokens.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraSession.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSSession.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxSession.java
  eue/src/main/java/ch/cyberduck/core/eue/EueSession.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveSession.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageSession.java
  oauth/src/main/java/ch/cyberduck/core/oauth/OAuth2AuthorizationService.java
  oauth/src/main/java/ch/cyberduck/core/oauth/OAuth2ErrorResponseInterceptor.java
  oauth/src/main/java/ch/cyberduck/core/oauth/OAuth2RequestInterceptor.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphSession.java
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateSession.java
Labels: core

#14074 Review saving OAuth tokens
  core/src/main/java/ch/cyberduck/core/Credentials.java
  oauth/src/main/java/ch/cyberduck/core/oauth/CustomSchemeHandlerOAuth2AuthorizationCodeProvider.java
  oauth/src/main/java/ch/cyberduck/core/oauth/OAuth2AuthorizationService.java
  oauth/src/main/java/ch/cyberduck/core/oauth/OAuth2RequestInterceptor.java
Labels: core

#14096 Handle timestamp change for rooms.
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSTimestampFeature.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSTimestampFeatureTest.java
Labels: dracoon

#14095 Add option to get protocol specific hashcode of file attributes for c…
  core/src/main/java/ch/cyberduck/core/synchronization/ChainedComparisonService.java
  core/src/main/java/ch/cyberduck/core/synchronization/ChecksumComparisonService.java
  core/src/main/java/ch/cyberduck/core/synchronization/ComparisonService.java
  core/src/main/java/ch/cyberduck/core/synchronization/DefaultComparisonService.java
  core/src/main/java/ch/cyberduck/core/synchronization/ETagComparisonService.java
  core/src/main/java/ch/cyberduck/core/synchronization/RevisionComparisonService.java
  core/src/main/java/ch/cyberduck/core/synchronization/SizeComparisonService.java
  core/src/main/java/ch/cyberduck/core/synchronization/TimestampComparisonService.java
  core/src/main/java/ch/cyberduck/core/synchronization/VersionIdComparisonService.java
  core/src/test/java/ch/cyberduck/core/synchronization/ChainedComparisonServiceTest.java
Labels: core

#14104 Include bookmark name in alert
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BackgroundExceptionAlertController.java
  windows/src/main/csharp/ch/cyberduck/ui/winforms/threading/DialogAlertCallback.cs
Labels: interface

#14105 Extract interface to run diagnostics tool
  core/dylib/src/main/java/ch/cyberduck/core/diagnostics/SystemConfigurationDiagnostics.java
  core/dylib/src/main/java/ch/cyberduck/core/diagnostics/SystemConfigurationReachability.java
  core/dylib/src/main/java/ch/cyberduck/core/preferences/ApplicationPreferences.java
  core/src/main/csharp/ch/cyberduck/core/diagnostics/TcpReachability.cs
  core/src/main/java/ch/cyberduck/core/Factory.java
  core/src/main/java/ch/cyberduck/core/diagnostics/DisabledReachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/Reachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/ReachabilityDiagnosticsFactory.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/callback/PromptAlertCallback.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BackgroundExceptionAlertController.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BookmarkController.java
  windows/src/main/csharp/ch/cyberduck/ui/core/preferences/ApplicationPreferences.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/threading/DialogAlertCallback.cs
Labels: core

#13993 Add interface to configure system proxy settings
  core/dylib/src/main/java/ch/cyberduck/core/preferences/ApplicationPreferences.java
  core/dylib/src/main/java/ch/cyberduck/core/proxy/SystemConfigurationProxy.java
  core/dylib/src/main/java/ch/cyberduck/core/proxy/SystemPreferencesProxyConfiguration.java
  core/dylib/src/main/java/ch/cyberduck/core/proxy/SystemSettingsProxyConfiguration.java
  core/src/main/java/ch/cyberduck/core/proxy/DefaultProxyFinder.java
  core/src/main/java/ch/cyberduck/core/proxy/EnvironmentVariableProxyFinder.java
  core/src/main/java/ch/cyberduck/core/proxy/ProxyConfigurationFactory.java
  core/src/main/java/ch/cyberduck/core/proxy/ProxyFinder.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/PreferencesController.java
Labels: core

#14107 Update runtime to jdk-17.0.5+8.
  cli/osx/pom.xml
  osx/pom.xml
  runtime.xml
Labels: java

#14124 Update runtime to 17.0.6_10.
  cli/osx/pom.xml
  osx/pom.xml
  runtime.xml
Labels: java

#14134 Add logging.
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSUploadService.java
Labels: dracoon

#14135 Enable versioning for folders.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraCustomActions.java
Labels: ctera

#14116 Review temporary files
  core/src/main/java/ch/cyberduck/core/editor/AbstractEditor.java
  core/src/main/java/ch/cyberduck/core/editor/DefaultWatchEditor.java
  core/src/main/java/ch/cyberduck/core/local/DefaultTemporaryFileService.java
  core/src/main/java/ch/cyberduck/core/local/FileWatcher.java
  core/src/main/java/ch/cyberduck/core/local/FlatTemporaryFileService.java
  core/src/test/java/ch/cyberduck/core/editor/AbstractEditorTest.java
  core/src/test/java/ch/cyberduck/core/local/DefaultTemporaryFileServiceTest.java
  core/src/test/java/ch/cyberduck/core/local/FlatTemporaryFileServiceTest.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BrowserController.java
Labels: core

#14140 Revert "Enable versioning for folders."
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraCustomActions.java
Labels: ctera

#14141 Check directory for existence as on .NET with IKVM a generic IOExcept…
  nio/src/main/java/ch/cyberduck/core/nio/LocalListService.java
Labels: core
