Repository iterate-ch/cyberduck, pull requests merged in 2023-03, with the labels that each got.

#14306 Fix #14300.
  s3/src/main/java/ch/cyberduck/core/s3/S3AccessControlListFeature.java
Labels: s3

#14307 Cache editor references to allow discarding all editors when browser …
  core/src/main/java/ch/cyberduck/core/editor/AbstractEditor.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BrowserController.java
  windows/src/main/csharp/ch/cyberduck/ui/controller/BrowserController.cs
Labels: core

#14319 Fill byte array with null values until buffer length in case we read …
  core/src/main/java/ch/cyberduck/core/io/Buffer.java
  core/src/main/java/ch/cyberduck/core/io/FileBuffer.java
  core/src/test/java/ch/cyberduck/core/io/FileBufferTest.java
Labels: core

#14327 Fix #14326.
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftLargeObjectUploadFeature.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftThresholdUploadService.java
  openstack/src/test/java/ch/cyberduck/core/openstack/SwiftLargeObjectUploadFeatureTest.java
Labels: openstack

#14334 Fix local protocol open with
  core/src/main/csharp/ch/cyberduck/core/local/SystemLocal.cs
  core/src/test/csharp/ch/cyberduck/core/local/SystemLocalTest.cs
Labels: interface

#14348 Review Windows PromptForm-dialogs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/CreateFilePromptForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/CreateSymlinkPromptForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/DuplicateFilePromptForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/GotoPromptForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/NewFolderPromptForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/NewVaultPromptForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/PasswordForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/PromptForm.Designer.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/PromptForm.cs
  windows/src/test/csharp/ch/cyberduck/ui/winforms/InteractiveUiTests.cs
Labels: bug, interface, enhancement

#14359 Allow to cache empty directory contents by making sure we always invo…
  azure/src/test/java/ch/cyberduck/core/azure/AzureObjectListServiceTest.java
  backblaze/src/test/java/ch/cyberduck/core/b2/B2ObjectListServiceTest.java
  box/src/main/java/ch/cyberduck/core/box/BoxListService.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSListService.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSListServiceTest.java
  eue/src/main/java/ch/cyberduck/core/eue/EueListService.java
  eue/src/test/java/ch/cyberduck/core/eue/EueListServiceTest.java
  ftp/src/test/java/ch/cyberduck/core/ftp/list/FTPListServiceTest.java
  googledrive/src/test/java/ch/cyberduck/core/googledrive/DriveDefaultListServiceTest.java
  openstack/src/test/java/ch/cyberduck/core/openstack/SwiftObjectListServiceTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3ObjectListServiceTest.java
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPListService.java
  ssh/src/test/java/ch/cyberduck/core/sftp/SFTPListServiceTest.java
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateListService.java
  storegate/src/test/java/ch/cyberduck/core/storegate/StoregateListServiceTest.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVListService.java
  webdav/src/test/java/ch/cyberduck/core/dav/DAVListServiceTest.java
Labels: core

#14368 Review.
  ftp/src/main/java/ch/cyberduck/core/ftp/FTPParserSelector.java
  ftp/src/main/java/ch/cyberduck/core/ftp/FTPSession.java
  ftp/src/test/java/ch/cyberduck/core/cryptomator/FTPListServiceTest.java
Labels: ftp, ftp-tls

#14382 Add long-text password prompt test
  windows/src/main/csharp/ch/cyberduck/ui/winforms/PromptForm.Designer.cs
  windows/src/test/csharp/Cyberduck.Test.csproj
  windows/src/test/csharp/ch/cyberduck/ui/winforms/InteractiveUiTests.cs
Labels: bug, interface

#14399 Review WinForms ObjectListView
  windows/src/main/csharp/ch/cyberduck/ui/controller/Renderers.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/BrowserForm.Designer.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/BrowserForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/TransferPromptForm.Designer.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/TransferPromptForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/controls/MulticolorTreeListView.cs
Labels: bug, interface

#14402 Fix transfer window direction icon size
  windows/src/main/csharp/ch/cyberduck/ImageHelper.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/controls/TransferControl.cs
Labels: bug, interface

#14411 Fix #14410.
  Changelog.txt
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxVersioningFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveVersioningFeature.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudVersioningFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphVersioningFeature.java
  www/update/changelog.html
Labels: cryptomator

#14435 Action is already removed automatically from registry using listener …
  core/src/main/java/ch/cyberduck/core/threading/RegistryBackgroundAction.java
Labels: core

#14447 Add option to configure if access time is reset after reading entry f…
  core/src/main/java/ch/cyberduck/core/cache/LRUCache.java
Labels: core
