Repository iterate-ch/cyberduck, pull requests merged in 2023-04, with the labels that each got.

#14439 Work around overflow when transferred > size and size > (2^31)-1
  windows/src/main/csharp/ch/cyberduck/ui/controller/ProgressController.cs
Labels: bug, interface

#14469 Addendum to b2e31247.
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageAttributesFinderFeature.java
Labels: googlestorage

#14479 Verify bucket naming requirements.
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageDirectoryFeature.java
Labels: googlestorage

#14484 Update dependency
  onedrive/pom.xml
Labels: onedrive, sharepoint

#14493 Include RemoteItem in queried set of properties
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphSession.java
Labels: bug, onedrive

#14517 Extract fields. Fix #14482.
  s3/src/main/java/ch/cyberduck/core/s3/S3Session.java
  s3/src/main/java/ch/cyberduck/core/s3/S3TokenExpiredResponseInterceptor.java
Labels: s3

#14548 Set newly calculated nonces and checksum for the retry attempt.
  core/src/main/java/ch/cyberduck/core/worker/AbstractTransferWorker.java
Labels: cryptomator

#14568 Support AWS S3 sso_session configuration
  s3/src/main/java/ch/cyberduck/core/sts/STSCredentialsConfigurator.java
Labels: s3
