Repository iterate-ch/cyberduck, pull requests merged in 2023-05, with the labels that each got.

#14598 Fail with conflict failure when attempting to rename to existing dire…
  core/src/main/java/ch/cyberduck/core/http/HttpResponseExceptionMappingService.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVMoveFeature.java
  webdav/src/test/java/ch/cyberduck/core/dav/DAVMoveFeatureTest.java
Labels: webdav

#14591 Path needs to start with ~/ to be evaluated as home directory reference.
  core/src/main/java/ch/cyberduck/core/PathNormalizer.java
  core/src/test/java/ch/cyberduck/core/PathNormalizerTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3ObjectListServiceTest.java
Labels: s3, googlestorage

#14595 Allow setting password for share only for pro and business accounts
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxPasswordShareUrlProvider.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxSession.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxShareUrlProvider.java
  dropbox/src/test/java/ch/cyberduck/core/dropbox/DropboxPasswordShareUrlProviderTest.java
Labels: dropbox

#14605 Add read tests for CTERA.
  ctera/src/test/java/ch/cyberduck/core/ctera/CteraReadFeatureTest.java
Labels: ctera

#14616 Extract logging properties.
  core/src/main/java/ch/cyberduck/core/preferences/Preferences.java
  defaults/src/main/resources/default.properties
Labels: core

#14604 Implement metadata view in Info panel with XAML
  Packages.props
  core/native/refresh/src/main/csharp/Cyberduck.Core.Refresh.csproj
  core/native/refresh/src/main/csharp/Services/MetadataTemplateProvider.cs
  core/native/refresh/src/main/csharp/Splat/RefreshResolverMixins.cs
  core/native/refresh/src/main/csharp/ViewModels/Info/MetadataViewModel.cs
  core/native/refresh/src/main/csharp/Views/MetadataInfoTab.xaml
  core/native/refresh/src/main/csharp/Views/MetadataInfoTab.xaml.cs
  core/native/refresh/src/main/csharp/Views/VersionsInfoTab.xaml
  core/native/refresh/src/main/csharp/java/util/CollectionInterop.cs
  core/src/main/csharp/Cyberduck.Core.Native.csproj
  core/src/main/csharp/Windows/Win32/PIDLIST_ABSOLUTEHandle.cs
  core/src/main/csharp/java/lang/IterableEnumerator.cs
  core/src/main/csharp/java/lang/IterableExtensions.cs
  core/src/main/csharp/java/util/CollectionExtensions.cs
  core/src/main/java/ch/cyberduck/core/worker/ReadMetadataWorker.java
  windows/src/main/csharp/ch/cyberduck/ui/StructureMapBootstrapper.cs
  windows/src/main/csharp/ch/cyberduck/ui/controller/IInfoView.cs
  windows/src/main/csharp/ch/cyberduck/ui/controller/InfoController.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/InfoForm.Designer.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/InfoForm.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/InfoForm.resx
  windows/src/main/csharp/ch/cyberduck/ui/winforms/controls/PanelManager.cs
Labels: interface, enhancement

#14630 Make Bonjour optional & visible in apps & programs
  setup/chocolatey/cyberduck/cyberduck.nuspec
  setup/chocolatey/cyberduck/tools/chocolateyInstall.ps1
  windows/build.xml
  windows/src/main/wix/Bootstrapper/Cyberduck Bootstrapper.wxs
  windows/src/main/wix/Bootstrapper/Cyberduck.Bootstrapper.wixproj
  windows/src/main/wix/Bootstrapper/InstallerTheme.xml
Labels: enhancement, installer

#14657 Add error mappings for AV.
  core/src/main/java/ch/cyberduck/core/exception/AntiVirusAccessDeniedException.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSExceptionMappingService.java
Labels: dracoon

#14718 Fix null pointer because of initialization order.
  s3/src/main/java/ch/cyberduck/core/kms/KMSEncryptionFeature.java
  s3/src/main/java/ch/cyberduck/core/restore/Glacier.java
  s3/src/main/java/ch/cyberduck/core/s3/S3Session.java
  s3/src/test/java/ch/cyberduck/core/kms/KMSEncryptionFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/restore/GlacierTest.java
Labels: s3

#14336 Fix bad formatted MLST reply
  ftp/src/main/java/ch/cyberduck/core/ftp/list/FTPMlsdListResponseReader.java
  ftp/src/test/java/ch/cyberduck/core/ftp/list/FTPMlsdListResponseReaderTest.java
Labels: bug, ftp, thirdparty
