Repository iterate-ch/cyberduck, pull requests merged in 2023-02, with the labels that each got.

#14155 Return latest attributes in transfer status.
  brick/src/main/java/ch/cyberduck/core/brick/BrickTimestampFeature.java
  brick/src/test/java/ch/cyberduck/core/brick/BrickTimestampFeatureTest.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSTimestampFeature.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSTimestampFeatureTest.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveTimestampFeature.java
  googledrive/src/test/java/ch/cyberduck/core/googledrive/DriveTimestampFeatureTest.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageTimestampFeature.java
  googlestorage/src/test/java/ch/cyberduck/core/googlestorage/GoogleStorageTimestampFeatureTest.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudSession.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudTimestampFeature.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudSession.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudTimestampFeature.java
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateTimestampFeature.java
  storegate/src/test/java/ch/cyberduck/core/storegate/StoregateTimestampFeatureTest.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVTimestampFeature.java
  webdav/src/main/java/ch/cyberduck/core/dav/microsoft/MicrosoftIISDAVTimestampFeature.java
  webdav/src/test/java/ch/cyberduck/core/dav/DAVTimestampFeatureTest.java
  webdav/src/test/java/ch/cyberduck/core/dav/microsoft/MicrosoftIISDAVTimestampFeatureTest.java
Labels: core

#14176 Review retry logic.
  core/src/main/java/ch/cyberduck/core/exception/RetriableAccessDeniedException.java
  core/src/main/java/ch/cyberduck/core/threading/AbstractRetryCallable.java
Labels: core

#14199 Fix typo
  core/src/main/csharp/ch/cyberduck/core/diagnostics/TcpReachability.cs
Labels: interface

#14218 Target file in copy transfer must not have same attributes reference
  core/src/main/java/ch/cyberduck/core/transfer/CopyTransfer.java
  core/src/main/java/ch/cyberduck/core/vault/LoadingVaultLookupListener.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BrowserController.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/datasource/BrowserTableDataSource.java
  windows/src/main/csharp/ch/cyberduck/ui/controller/BrowserController.cs
Labels: core

#14204 CBC based ciphers are considered to be weak and thus not enabled by d…
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPSession.java
Labels: sftp

#14205 Make sure an agent is running before adding it as authentication method.
  ssh/src/main/java/ch/cyberduck/core/sftp/auth/SFTPAgentAuthentication.java
  ssh/src/main/java/ch/cyberduck/core/sftp/openssh/OpenSSHAgentAuthenticator.java
  ssh/src/main/java/ch/cyberduck/core/sftp/putty/PageantAuthenticator.java
Labels: sftp

#14213 Add support for new GCM encryption based vaults as of Cryptomator 1.7.
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureWriteFeatureTest.java
  backblaze/src/test/java/ch/cyberduck/core/cryptomator/B2LargeUploadWriteFeatureTest.java
  backblaze/src/test/java/ch/cyberduck/core/cryptomator/B2WriteFeatureTest.java
  box/src/test/java/ch/cyberduck/core/cryptomator/BoxWriteFeatureTest.java
  box/src/test/java/ch/cyberduck/core/cryptomator/BufferWriteFeatureTest.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoVault.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoBulkFeature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoChecksumCompute.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoCopyFeature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoDirectoryV6Feature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoDirectoryV7Feature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoTouchFeature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoWriteFeature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/impl/CryptoFilenameV7Provider.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/random/RandomNonceGenerator.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/random/RotatingNonceGenerator.java
  cryptomator/src/test/java/ch/cyberduck/core/cryptomator/CryptoChecksumComputeTest.java
  cryptomator/src/test/java/ch/cyberduck/core/cryptomator/CryptoOutputStreamTest.java
  cryptomator/src/test/java/ch/cyberduck/core/cryptomator/CryptoVaultTest.java
  cryptomator/src/test/java/ch/cyberduck/core/cryptomator/CryptoWriteFeatureTest.java
  cryptomator/src/test/java/ch/cyberduck/core/cryptomator/features/CryptoReadFeatureTest.java
  cryptomator/src/test/java/ch/cyberduck/core/cryptomator/impl/CryptoDirectoryV6ProviderTest.java
  cryptomator/src/test/java/ch/cyberduck/core/cryptomator/impl/CryptoDirectoryV7ProviderTest.java
  cryptomator/src/test/java/ch/cyberduck/core/cryptomator/random/RotatingNonceGeneratorTest.java
  dropbox/src/test/java/ch/cyberduck/core/cryptomator/DropboxWriteFeatureTest.java
  eue/src/test/java/ch/cyberduck/core/cryptomator/EueWriteFeatureTest.java
  ftp/src/test/java/ch/cyberduck/core/cryptomator/FTPWriteFeatureTest.java
  googledrive/src/test/java/ch/cyberduck/core/cryptomator/DriveWriteFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/cryptomator/GraphWriteFeatureTest.java
  openstack/src/test/java/ch/cyberduck/core/cryptomator/SwiftLargeUploadWriteFeatureTest.java
  openstack/src/test/java/ch/cyberduck/core/cryptomator/SwiftWriteFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/cryptomator/S3MultipartWriteFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/cryptomator/S3VersioningFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/cryptomator/S3WriteFeatureTest.java
  ssh/src/test/java/ch/cyberduck/core/cryptomator/SFTPReadFeatureTest.java
  ssh/src/test/java/ch/cyberduck/core/cryptomator/SFTPWriteFeatureTest.java
  webdav/src/test/java/ch/cyberduck/core/cryptomator/CryptoDAVSingleTransferWorkerTest.java
  webdav/src/test/java/ch/cyberduck/core/cryptomator/DAVReadFeatureTest.java
  webdav/src/test/java/ch/cyberduck/core/cryptomator/DAVWriteFeatureTest.java
Labels: cryptomator

#14226 Files.com API is case-insensitive
  brick/src/main/java/ch/cyberduck/core/brick/BrickProtocol.java
  brick/src/test/java/ch/cyberduck/core/brick/BrickProtocolTest.java
  brick/src/test/java/ch/cyberduck/core/brick/BrickTouchFeatureTest.java
Labels: files.com

#14229 Set latest attributes in transfer status after patching file
  onedrive/pom.xml
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphMoveFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphTimestampFeature.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/OneDriveTimestampFeatureTest.java
Labels: onedrive, sharepoint

#14237 With an unknown transfer size we must not use a rotating nonce genera…
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoTransferStatus.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoBulkFeature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoChecksumCompute.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoCopyFeature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoWriteFeature.java
Labels: cryptomator

#14242 Lazy load keypairs in missingFileKeys.
  defaults/src/main/resources/default.properties
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSMissingFileKeysSchedulerFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSSession.java
  dracoon/src/test/java/ch/cyberduck/core/sds/SDSMissingFileKeysSchedulerFeatureTest.java
Labels: dracoon

#14245 Revert "Bump slf4j-version from 1.7.36 to 2.0.6"
  pom.xml
Labels: core

#14249 Review key handling in object storage list implementations
  azure/src/main/java/ch/cyberduck/core/azure/AzureObjectListService.java
  backblaze/src/main/java/ch/cyberduck/core/b2/B2ObjectListService.java
  backblaze/src/test/java/ch/cyberduck/core/b2/B2ObjectListServiceTest.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageObjectListService.java
  googlestorage/src/test/java/ch/cyberduck/core/googlestorage/GoogleStorageObjectListServiceTest.java
  s3/src/main/java/ch/cyberduck/core/s3/S3ObjectListService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3VersionedObjectListService.java
  s3/src/test/java/ch/cyberduck/core/s3/S3ListServiceTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3ObjectListServiceTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3VersionedObjectListServiceTest.java
  spectra/src/main/java/ch/cyberduck/core/spectra/SpectraObjectListService.java
  spectra/src/test/java/ch/cyberduck/core/spectra/AbstractSpectraTest.java
  spectra/src/test/java/ch/cyberduck/core/spectra/SpectraBulkServiceTest.java
  spectra/src/test/java/ch/cyberduck/core/spectra/SpectraObjectListServiceTest.java
  spectra/src/test/java/ch/cyberduck/core/spectra/SpectraVersioningFeatureTest.java
  spectra/src/test/resources/Spectra S3 (HTTP).cyberduckprofile
Labels: s3, googlestorage, b2, spectralogic

#14224 Read AWS SSO credentials for source profile
  s3/src/main/java/ch/cyberduck/core/sts/STSCredentialsConfigurator.java
Labels: s3

#14253 Review size and response attributes in transfer status
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureTouchFeatureTest.java
  backblaze/src/test/java/ch/cyberduck/core/cryptomator/B2TouchFeatureTest.java
  core/src/main/java/ch/cyberduck/core/shared/DefaultTouchFeature.java
  core/src/main/java/ch/cyberduck/core/transfer/ProxyTransferStatus.java
  core/src/main/java/ch/cyberduck/core/transfer/TransferResponse.java
  core/src/main/java/ch/cyberduck/core/transfer/TransferStatus.java
  core/src/main/java/ch/cyberduck/core/worker/CopyWorker.java
  core/src/main/java/ch/cyberduck/core/worker/CreateDirectoryWorker.java
  core/src/main/java/ch/cyberduck/core/worker/MoveWorker.java
  core/src/main/java/ch/cyberduck/core/worker/TouchWorker.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoTransferStatus.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoCopyFeature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoDirectoryV7Feature.java
  dropbox/src/test/java/ch/cyberduck/core/cryptomator/DropboxTouchFeatureTest.java
  ftp/src/test/java/ch/cyberduck/core/cryptomator/FTPTouchFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/cryptomator/GraphTouchFeatureTest.java
  openstack/src/test/java/ch/cyberduck/core/cryptomator/SwiftTouchFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/cryptomator/S3TouchFeatureTest.java
Labels: cryptomator

#14259 Partially revert f5a537a9fb608ccc299896300f66670b755adea3. As the com…
  ssh/src/main/java/ch/cyberduck/core/sftp/openssh/OpenSSHAgentAuthenticator.java
  ssh/src/main/java/ch/cyberduck/core/sftp/putty/PageantAuthenticator.java
Labels: sftp

#14264 Fix validation of create file/folder
  defaults/src/main/resources/default.properties
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/FileController.java
Labels: interface
