Repository iterate-ch/cyberduck, pull requests merged in 2024-10, with the labels that each got.

#16393 Remove "Choose…" button from preferences default editor selection
  windows/src/main/csharp/ch/cyberduck/ui/controller/PreferencesController.cs
  windows/src/main/csharp/ch/cyberduck/ui/winforms/PreferencesForm.cs
Labels: interface

#16418 Group DeepBoxes by company.
  deepbox/pom.xml
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxAttributesFinderFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxIdProvider.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxListService.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxPathContainerService.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxSession.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxTouchFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/DeepcloudApiClient.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/DeepcloudExceptionMappingService.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/ApiClient.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/ApiException.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/Configuration.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/JSON.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/Pair.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/RFC3339DateFormat.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/StringUtil.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/api/UsersApi.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/auth/ApiKeyAuth.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/auth/Authentication.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/auth/HttpBasicAuth.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/auth/OAuth.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/auth/OAuthFlow.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/Address.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/BlankEnum.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/CompanyRoles.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/CountryEnum.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/GroupRoles.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/Invitation.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/InvitationCategoryEnum.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/InvitationPermission.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/NullEnum.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/StructureEnum.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/UnitRoles.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/UserFull.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/VerificationProcessStatusEnum.java
  deepbox/src/main/java/ch/cyberduck/core/deepcloud/io/swagger/client/model/VerificationStateEnum.java
  deepbox/src/main/resources/Deepbox.cyberduckprofile
  deepbox/src/main/resources/deepcloud-api.yaml
  deepbox/src/test/java/ch/cyberduck/core/deepbox/AbstractDeepboxTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxCopyFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxDirectoryFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxFindFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxIdProviderTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxListServiceTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxMoveFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxPathContainerServiceTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxReadFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxRestoreFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxShareFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxTouchFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxTrashFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxWriteFeatureTest.java
  deepbox/src/test/resources/Deepbox Integration.cyberduckprofile
Labels: deepbox

#16419 Validate filename for write operations.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraWriteFeature.java
Labels: ctera

#16435 GroupMember.Read.All is not necessary
  onedrive/pom.xml
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/sharepoint/GroupListService.java
  profiles/default/Microsoft SharePoint.cyberduckprofile
Labels: bug, sharepoint

#16447 Invoke action non-blocking, thus quitting by Ctrl-Q or File->Exit doesn't dead-lock
  windows/src/main/csharp/ch/cyberduck/ui/controller/AsyncController.cs
Labels: bug, interface

#16453 Only delete existing target when node id differs.
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSMoveFeature.java
  eue/src/main/java/ch/cyberduck/core/eue/EueMoveFeature.java
Labels: dracoon, 1&1

#16446 Configure forceful close of socket immediately regardless of pending …
  core/src/main/java/ch/cyberduck/core/socket/DefaultSocketConfigurator.java
  defaults/src/main/resources/default.properties
  ftp/src/main/java/ch/cyberduck/core/ftp/FTPSession.java
Labels: ftp-tls

#16436 Allow to cancel await for pending authorization from web browser.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraAuthenticationHandler.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraSession.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/callback/PromptLoginCallback.java
Labels: ctera

#16420 Group Shared Folders
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxAttributesFinderFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxDirectoryFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxIdProvider.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxListService.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxMoveFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxPathContainerService.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxPathNormalizer.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxRestoreFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxTouchFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxTrashFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxWriteFeature.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/AbstractDeepboxTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxDirectoryFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxIdProviderTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxListServiceTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxPathContainerServiceTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxTrashFeatureTest.java
  i18n/src/main/resources/de.lproj/Deepbox.strings
  i18n/src/main/resources/en.lproj/Deepbox.strings
  i18n/src/main/resources/fr.lproj/Deepbox.strings
  i18n/src/main/resources/it.lproj/Deepbox.strings
Labels: deepbox

#16461 Ensure interoperability with Spectralogic S3
  s3/src/main/java/ch/cyberduck/core/s3/S3AWS2SignatureRequestInterceptor.java
  s3/src/main/java/ch/cyberduck/core/s3/S3AWS4SignatureRequestInterceptor.java
  s3/src/test/java/ch/cyberduck/core/s3/S3DirectoryFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3WriteFeatureTest.java
  spectra/pom.xml
  spectra/src/test/java/ch/cyberduck/core/spectra/AbstractSpectraTest.java
  spectra/src/test/java/ch/cyberduck/core/spectra/SpectraBulkServiceTest.java
  spectra/src/test/java/ch/cyberduck/core/spectra/SpectraSessionTest.java
  spectra/src/test/resources/Spectra S3 (HTTPS).cyberduckprofile
Labels: spectralogic
