Repository iterate-ch/cyberduck, pull requests merged in 2024-12, with the labels that each got.

#16604 Do not defer nickname from parent profile.
  core/src/main/java/ch/cyberduck/core/Profile.java
Labels: s3

#16611 Pull localization changes from Transifex
  i18n/src/main/resources/ar.lproj/Status.strings
  i18n/src/main/resources/bg.lproj/Status.strings
  i18n/src/main/resources/ca.lproj/Status.strings
  i18n/src/main/resources/cs.lproj/Status.strings
  i18n/src/main/resources/cy.lproj/Status.strings
  i18n/src/main/resources/da.lproj/Status.strings
  i18n/src/main/resources/de.lproj/Status.strings
  i18n/src/main/resources/el.lproj/Status.strings
  i18n/src/main/resources/es.lproj/Status.strings
  i18n/src/main/resources/et.lproj/Status.strings
  i18n/src/main/resources/fi.lproj/Status.strings
  i18n/src/main/resources/fr.lproj/Status.strings
  i18n/src/main/resources/he.lproj/Status.strings
  i18n/src/main/resources/hr.lproj/Status.strings
  i18n/src/main/resources/hu.lproj/Status.strings
  i18n/src/main/resources/it.lproj/Status.strings
  i18n/src/main/resources/it.lproj/Support.strings
  i18n/src/main/resources/sv.lproj/Status.strings
Labels: localization

#16609 Fix #16607.
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxProtocol.java
  dropbox/src/test/java/ch/cyberduck/core/dropbox/DropboxMoveFeatureTest.java
  dropbox/src/test/java/ch/cyberduck/core/dropbox/DropboxTouchFeatureTest.java
Labels: dropbox

#16610 Fix #16608.
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveProtocol.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/SharepointProtocol.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/GraphTouchFeatureTest.java
Labels: onedrive, sharepoint

#16613 Fix crash in reachability check with no hostname configured in bookmark
  core/dylib/src/main/java/ch/cyberduck/core/diagnostics/SystemConfigurationReachability.java
  core/dylib/src/test/java/ch/cyberduck/core/diagnostics/SystemConfigurationReachabilityTest.java
  core/src/main/java/ch/cyberduck/core/LoginConnectionService.java
  core/src/main/java/ch/cyberduck/core/diagnostics/ReachabilityFactory.java
  core/src/main/objc/SystemConfigurationReachability.m
Labels: core

#16617 No graceful shutdown of timer threads on disconnect.
  brick/src/main/java/ch/cyberduck/core/brick/BrickFileMigrationFeature.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickPairingSchedulerFeature.java
  core/src/main/java/ch/cyberduck/core/features/Scheduler.java
  core/src/main/java/ch/cyberduck/core/shared/DelegatingSchedulerFeature.java
  core/src/main/java/ch/cyberduck/core/shared/ThreadPoolSchedulerFeature.java
  core/src/main/java/ch/cyberduck/core/threading/ScheduledThreadPool.java
  core/src/main/java/ch/cyberduck/core/threading/TransferBackgroundAction.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxReadFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSSession.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSUploadService.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxBatchDeleteFeature.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftSession.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BrowserController.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/datasource/BookmarkTableDataSource.java
  s3/src/main/java/ch/cyberduck/core/s3/S3Session.java
  windows/src/main/csharp/ch/cyberduck/ui/controller/BrowserController.cs
Labels: core

#16619 Review scheduled operations for OpenStack Swift
  core/src/main/java/ch/cyberduck/core/features/Scheduler.java
  defaults/src/main/resources/default.properties
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftAccountLoader.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftDistributionConfigurationLoader.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftSession.java
Labels: openstack

#16622 Use strict FTP multiline parsing
  defaults/src/main/resources/default.properties
Labels: bug, ftp

#16633 Add hint for default path set.
  profiles/default/Google Drive.cyberduckprofile
  profiles/default/Microsoft OneDrive.cyberduckprofile
Labels: googledrive, onedrive

#16635 Fix #16634.
  azure/src/main/java/ch/cyberduck/core/azure/AzureDirectoryFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureTouchFeature.java
Labels: azure

#16649 Fix continuous cryptomator prompt dialogs
  windows/src/main/csharp/ch/cyberduck/ui/controller/PromptPasswordController.cs
Labels: bug, interface

#16639 Fix usage of custom DNS resolver.
  core/src/main/java/ch/cyberduck/core/http/HttpConnectionPoolBuilder.java
Labels: core

#16646 Boxes in result set not required.
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxIdProvider.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxListService.java
Labels: deepbox

#16662 Do not skip buckets on region mismatch
  s3/src/main/java/ch/cyberduck/core/s3/S3BucketListService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3LocationFeature.java
  s3/src/test/java/ch/cyberduck/core/s3/S3BucketListServiceTest.java
Labels: s3

#16657 Configure only new bookmark with default path from profile.
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveHomeFinderService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveSession.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/OneDriveHomeFinderServiceTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/OneDriveListServiceTest.java
  profiles/default/Microsoft OneDrive.cyberduckprofile
Labels: onedrive

#16658 Configure only new bookmark with default path from profile.
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveSession.java
  profiles/default/Google Drive.cyberduckprofile
Labels: googledrive

#16653 Fix #16652.
  azure/src/main/java/ch/cyberduck/core/azure/AzureExceptionMappingService.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureSession.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureUrlProvider.java
Labels: azure

#16666 Only attempt to parse response body for matching content type.
  nextcloud/src/main/java/ch/cyberduck/core/ocs/OcsCapabilitiesResponseHandler.java
  nextcloud/src/main/java/ch/cyberduck/core/ocs/OcsResponseHandler.java
Labels: nextcloud, owncloud

#16636 Update dependency
  defaults/src/main/resources/default.properties
  smb/pom.xml
  smb/src/main/java/ch/cyberduck/core/smb/SMBSession.java
Labels: smb

#16669 Add interface to register listeners for file system events.
  core/src/main/java/ch/cyberduck/core/AbstractFolderHostCollection.java
  core/src/main/java/ch/cyberduck/core/MonitorFolderHostCollection.java
Labels: core

#16596 Change naming for shared boxes
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxIdProvider.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxListService.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxPathContainerService.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxDirectoryFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxIdProviderTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxListServiceTest.java
Labels: deepbox

#16677 Conditionally save credentials in keychain after retry.
  brick/src/main/java/ch/cyberduck/core/brick/BrickPairingSchedulerFeature.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickUnauthorizedRetryStrategy.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraAuthenticationHandler.java
  oauth/src/main/java/ch/cyberduck/core/oauth/OAuth2AuthorizationService.java
Labels: dracoon, files.com, ctera

#16679 Fix #16678.
  defaults/src/main/resources/default.properties
Labels: smb

#16690 Fix #16689.
  smb/src/main/java/ch/cyberduck/core/smb/SMBProtocol.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBMoveFeatureTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBTouchFeatureTest.java
Labels: smb

#16691 Skip watch events for bookmarks already in collection.
  core/src/main/java/ch/cyberduck/core/MonitorFolderHostCollection.java
Labels: core

#16687 Ensure error message in console.
  Changelog.txt
  cli/src/main/java/ch/cyberduck/cli/Terminal.java
  core/src/main/java/ch/cyberduck/core/logging/LoggerPrintStream.java
  www/update/changelog.html
Labels: cli

#16716 Fix #16715.
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveSession.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphQuotaFeature.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/GraphQuotaFeatureTest.java
Labels: onedrive

#16722 Handle text/xml response content type.
  core/src/main/java/ch/cyberduck/core/http/ExtendedHttpRequestRetryHandler.java
  nextcloud/src/main/java/ch/cyberduck/core/ocs/OcsCapabilitiesResponseHandler.java
  nextcloud/src/main/java/ch/cyberduck/core/ocs/OcsResponseHandler.java
Labels: owncloud
