Repository iterate-ch/cyberduck, pull requests merged in 2024-06, with the labels that each got.

#15972 Remove plate on taskbar
  windows/src/main/package/package.wapproj
Labels: interface

#15956 Fix ctera touch preflight.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraTouchFeature.java
  ctera/src/test/java/ch/cyberduck/core/ctera/CteraTouchFeatureTest.java
Labels: ctera

#15981 Skip setting timestamps for volumes when not supported.
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveTimestampFeature.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageTimestampFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphTimestampFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3TimestampFeature.java
Labels: s3, googledrive, googlestorage, onedrive, sharepoint

#15985 Rewrite Azure Storage protocol implementation
  azure/pom.xml
  azure/src/main/java/ch/cyberduck/core/azure/AzureAclPermissionFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureAttributesFinderFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureContainerListService.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureCopyFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureDeleteFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureDirectoryFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureExceptionMappingService.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureFindFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureListService.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureLoggingFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureMetadataFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureMoveFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureObjectListService.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureProtocol.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureReadFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureSession.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureTouchFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureUploadFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureUrlProvider.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureWriteFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/apache/ApacheHttpClient.java
  azure/src/main/java/ch/cyberduck/core/azure/apache/ApacheHttpResponse.java
  azure/src/test/java/ch/cyberduck/core/azure/AbstractAzureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureAclPermissionFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureAttributesFinderFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureCopyFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureDeleteFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureDirectoryFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureFindFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureLoggingFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureMetadataFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureMoveFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureObjectListServiceTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureReadFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureSessionTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureTouchFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureUrlProviderTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureWriteFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureDirectoryFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureListServiceTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureMoveFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureTouchFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureWriteFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/CopyWorkerTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/CryptoAzureSingleTransferWorkerTest.java
  azure/src/test/java/ch/cyberduck/core/worker/AzureSingleTransferWorkerTest.java
  azure/src/test/java/ch/cyberduck/core/worker/CopyWorkerTest.java
Labels: azure

#15988 Fix request URI for OPTIONS request to determine tus capabilities.
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudHomeFeature.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudSession.java
  tus/src/main/java/ch/cyberduck/core/tus/TusCapabilitiesRequest.java
Labels: owncloud

#15999 Fix regression from 5b2d54ac.
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPTimestampFeature.java
Labels: sftp

#15998 Fix #15983.
  defaults/src/main/resources/default.properties
Labels: s3

#16006 Add custom disk icons
  profiles/default/Nextcloud.cyberduckprofile
  profiles/default/ownCloud.cyberduckprofile
Labels: nextcloud, owncloud

#16013 Bump crypto-sdk version.
  dracoon/pom.xml
Labels: dracoon

#16025 Use href from PROPFIND for paths to previous version of file.
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudReadFeature.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudVersioningFeature.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudReadFeature.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudVersioningFeature.java
Labels: owncloud

#16035 Add tests for OneDrive Session FileId extractor
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveSession.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/OneDriveSessionTest.java
  onedrive/src/test/resources/ParentReferenceFileId.json
  onedrive/src/test/resources/ParentReferenceFileIdUnknownId.json
  onedrive/src/test/resources/RealBusinessFileIdResponseSharedWithMe.json
  onedrive/src/test/resources/RealConsumerFileIdResponseOwnDrive.json
  onedrive/src/test/resources/RealConsumerFileIdResponseSharedWithMe.json
  onedrive/src/test/resources/RemoteItemId.json
  onedrive/src/test/resources/RemoteItemParentReferenceWithId.json
  onedrive/src/test/resources/SharedFolderIdInOwnDrive.json
  onedrive/src/test/resources/SharedFolderIdInSharedWithMeDrive.json
Labels: bug, onedrive

#16038 Make sure attributes features does not return versionId when versioned directory listing is disabled.
  s3/src/main/java/ch/cyberduck/core/s3/S3AttributesAdapter.java
  s3/src/main/java/ch/cyberduck/core/s3/S3AttributesFinderFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MetadataFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartUploadService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartWriteFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3ObjectListService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3WriteFeature.java
  s3/src/test/java/ch/cyberduck/core/s3/S3AttributesAdapterTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3AttributesFinderFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3ObjectListServiceTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3VersionedObjectListServiceTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3WriteFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/shared/CachingAttributesFinderFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/shared/DefaultAttributesFinderFeatureTest.java
  spectra/src/test/java/ch/cyberduck/core/worker/SpectraSingleTransferWorkerTest.java
Labels: s3

#16047 CTERA test cleanup.
  ctera/src/test/java/ch/cyberduck/core/ctera/CteraAttributesFinderFeatureTest.java
Labels: ctera

#16045 Separate Preferences Defaults/Runtime from Persistence
  cli/src/main/csharp/ch/cyberduck/cli/TerminalRuntime.cs
  cli/src/main/csharp/ch/cyberduck/cli/WindowsTerminal.cs
  cli/src/main/csharp/ch/cyberduck/cli/WindowsTerminalPreferences.cs
  core/src/main/csharp/ch/cyberduck/core/EnvironmentInfo.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/ApplicationPreferences.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/ApplicationSettingsPropertyStore.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/AssemblyApplicationResourcesFinder.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/IPropertyStore.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/IRuntime.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/LocalSharedFileSettingsProvider.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/LocalSupportDirectoryFinder.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/MemoryPropertyStore.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/PropertyStoreFactory.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/RoamingSupportDirectoryFinder.cs
  core/src/main/csharp/ch/cyberduck/core/preferences/Runtime.cs
  core/src/test/csharp/ch/cyberduck/core/preferences/ApplicationPreferencesTests.cs
  windows/src/main/csharp/ch/cyberduck/ui/StructureMapBootstrapper.cs
  windows/src/main/csharp/ch/cyberduck/ui/core/AppRuntime.cs
  windows/src/main/csharp/ch/cyberduck/ui/core/preferences/ApplicationPreferences.cs
  windows/src/main/csharp/ch/cyberduck/ui/core/preferences/PackagedDataMigrator.cs
Labels: core, enhancement

#16046 Make sure not to manipulate Permission.EMPTY.
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoVault.java
Labels: cryptomator

#16065 Reset listener in worker.
  cli/src/main/java/ch/cyberduck/cli/Terminal.java
  core/src/main/java/ch/cyberduck/core/CachingListProgressListener.java
  core/src/main/java/ch/cyberduck/core/CancellingListProgressListener.java
  core/src/main/java/ch/cyberduck/core/DisabledListProgressListener.java
  core/src/main/java/ch/cyberduck/core/IndexedListProgressListener.java
  core/src/main/java/ch/cyberduck/core/LimitedListProgressListener.java
  core/src/main/java/ch/cyberduck/core/ListProgressListener.java
  core/src/main/java/ch/cyberduck/core/ProxyListProgressListener.java
  core/src/main/java/ch/cyberduck/core/shared/DefaultSearchFeature.java
  core/src/main/java/ch/cyberduck/core/vault/DecryptingListProgressListener.java
  core/src/main/java/ch/cyberduck/core/vault/VaultFinderListProgressListener.java
  core/src/main/java/ch/cyberduck/core/worker/ListWorker.java
  core/src/main/java/ch/cyberduck/core/worker/MountWorker.java
  core/src/main/java/ch/cyberduck/core/worker/WorkerListProgressListener.java
  core/src/test/java/ch/cyberduck/core/worker/ListWorkerTest.java
  googledrive/src/test/java/ch/cyberduck/core/worker/ListWorkerTest.java
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BrowserController.java
  windows/src/main/csharp/ch/cyberduck/ui/controller/BrowserController.cs
Labels: core

#16067 `SHGetFileInfo(,,SHGFI_ICON,)` requires valid file extension to work
  core/native/refresh/src/main/csharp/Services/IconProvider.cs
Labels: bug, interface

#16071 Delay notifications to proxy listener until auto-detect has determine…
  core/src/main/java/ch/cyberduck/core/vault/DefaultVaultRegistry.java
  core/src/main/java/ch/cyberduck/core/vault/VaultFinderListProgressListener.java
  core/src/main/java/ch/cyberduck/core/vault/VaultFinderListService.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryListService.java
Labels: cryptomator

#16072 Add property `cryptomator.vault.autodetect.filecount`.
  core/src/main/java/ch/cyberduck/core/vault/VaultFinderListProgressListener.java
  core/src/main/java/ch/cyberduck/core/vault/VaultFinderListService.java
  defaults/src/main/resources/default.properties
Labels: cryptomator

#16077 Scroll to new transfer when selected
  windows/src/main/csharp/ch/cyberduck/ui/ViewModels/TransfersViewModel.cs
  windows/src/main/csharp/ch/cyberduck/ui/Views/TransfersWindow.xaml
  windows/src/main/csharp/ch/cyberduck/ui/Views/TransfersWindow.xaml.cs
Labels: interface, enhancement

#16082 Revert "Rewrite implementation."
  azure/pom.xml
  azure/src/main/java/ch/cyberduck/core/azure/AzureAclPermissionFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureAttributesFinderFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureContainerListService.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureCopyFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureDeleteFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureDirectoryFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureExceptionMappingService.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureFindFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureListService.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureLoggingFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureMetadataFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureMoveFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureObjectListService.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureProtocol.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureReadFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureSession.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureTouchFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureUploadFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureUrlProvider.java
  azure/src/main/java/ch/cyberduck/core/azure/AzureWriteFeature.java
  azure/src/main/java/ch/cyberduck/core/azure/apache/ApacheHttpClient.java
  azure/src/main/java/ch/cyberduck/core/azure/apache/ApacheHttpResponse.java
  azure/src/test/java/ch/cyberduck/core/azure/AbstractAzureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureAclPermissionFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureAttributesFinderFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureCopyFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureDeleteFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureDirectoryFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureFindFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureLoggingFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureMetadataFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureMoveFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureObjectListServiceTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureReadFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureSessionTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureTouchFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureUrlProviderTest.java
  azure/src/test/java/ch/cyberduck/core/azure/AzureWriteFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureDirectoryFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureListServiceTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureMoveFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureTouchFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureWriteFeatureTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/CopyWorkerTest.java
  azure/src/test/java/ch/cyberduck/core/cryptomator/CryptoAzureSingleTransferWorkerTest.java
  azure/src/test/java/ch/cyberduck/core/worker/AzureSingleTransferWorkerTest.java
  azure/src/test/java/ch/cyberduck/core/worker/CopyWorkerTest.java
  www/update/changelog.html
Labels: azure
