Repository iterate-ch/cyberduck, pull requests merged in 2024-08, with the labels that each got.

#16175 Fix passing bad remote filenames to IconProvider
  core/native/refresh/src/main/csharp/Services/IconProvider.Path.cs
  core/native/refresh/src/main/csharp/Services/IconProvider.cs
Labels: bug, interface

#16222 Fix var passed to CLI installer
  cli/src/main/wix/Bundle/Cyberduck CLI-WiX.wxs
Labels: bug, cli

#16220 Pull localization changes from Transifex
  i18n/src/main/resources/ar.lproj/Browser.xib
  i18n/src/main/resources/de.lproj/Preferences.strings
  i18n/src/main/resources/de.lproj/Preferences.strings.1
  i18n/src/main/resources/de.lproj/Preferences.xib
  i18n/src/main/resources/sv.lproj/Preferences.strings
  i18n/src/main/resources/sv.lproj/Preferences.strings.1
  i18n/src/main/resources/sv.lproj/Preferences.xib
Labels: localization

#16235 For uploads to inbox files must be queued for analytics.
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxWriteFeature.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxWriteFeatureTest.java
Labels: deepbox

#16249 Review tests.
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateMultipartWriteFeature.java
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateWriteFeature.java
  storegate/src/test/java/ch/cyberduck/core/storegate/StoregateMultipartWriteFeatureTest.java
Labels: storegate

#16233 Disable custom versioning.
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxProtocol.java
Labels: deepbox

#16234 Review permissions for boxes
  core/src/main/java/ch/cyberduck/core/PathAttributes.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxAttributesFinderFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxPathContainerService.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxListServiceTest.java
Labels: deepbox

#16256 Skip reachability check when only proxy jump host connection is possi…
  core/src/main/java/ch/cyberduck/core/diagnostics/ReachabilityFactory.java
Labels: sftp
