Repository iterate-ch/cyberduck, pull requests merged in 2024-05, with the labels that each got.

#15909 Throw any background failure found in stack.
  core/src/main/java/ch/cyberduck/core/concurrency/Interruptibles.java
  core/src/main/java/ch/cyberduck/core/worker/ConcurrentTransferWorker.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoChecksumCompute.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSUploadService.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxBatchDeleteFeature.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxCommonsHttpRequestExecutor.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageObjectListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphCommonsHttpRequestExecutor.java
  s3/src/main/java/ch/cyberduck/core/s3/S3VersionedObjectListService.java
Labels: core

#15911 Fix #15621.
  defaults/src/main/resources/default.properties
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudHomeFeature.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudShareFeature.java
  nextcloud/src/main/java/ch/cyberduck/core/ocs/OcsCapabilitiesRequest.java
  nextcloud/src/test/java/ch/cyberduck/core/nextcloud/NextcloudHomeFeatureTest.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudHomeFeature.java
Labels: nextcloud, owncloud

#15914 Do not set NTLM domain from environment by default
  core/src/main/csharp/ch/cyberduck/core/preferences/ApplicationPreferences.cs
  defaults/src/main/resources/default.properties
  webdav/src/main/java/ch/cyberduck/core/dav/DAVSession.java
Labels: sharepoint

#15917 Allow caller to evaluate cause of reachability failure.
  core/dylib/src/main/java/ch/cyberduck/core/diagnostics/SystemConfigurationReachability.java
  core/src/main/csharp/ch/cyberduck/core/diagnostics/TcpReachability.cs
  core/src/main/java/ch/cyberduck/core/diagnostics/ChainedReachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/DefaultInetAddressReachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/DisabledReachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/DiskReachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/HttpReachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/Reachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/ReachabilityFactory.java
  core/src/main/java/ch/cyberduck/core/diagnostics/ResolverReachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/TcpReachability.java
Labels: core

#15871 Add command line option for moving files.
  cli/src/main/java/ch/cyberduck/cli/Terminal.java
  cli/src/main/java/ch/cyberduck/cli/TerminalAction.java
  cli/src/main/java/ch/cyberduck/cli/TerminalOptionsBuilder.java
Labels: cli

#15933 Disable redirect handling as otherwise we might get redirected to log…
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraSession.java
Labels: ctera

#15934 Map IllegalArgumentException to BackgroundException
  core/src/main/java/ch/cyberduck/core/diagnostics/HttpReachability.java
  core/src/test/java/ch/cyberduck/core/diagnostics/HttpReachabilityTest.java
Labels: core

#15932 Make sure to store cookies from a successful login only.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraAuthenticationHandler.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraCookieInterceptor.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraSession.java
  ctera/src/test/java/ch/cyberduck/core/ctera/CteraSessionTest.java
Labels: ctera

#15951 Revised fix for #15841.
  defaults/src/main/resources/default.properties
  s3/src/main/java/ch/cyberduck/core/s3/S3WriteFeature.java
Labels: s3

#15955 Timestamp set on in custom WebDAV properties only have second precision.
  webdav/src/main/java/ch/cyberduck/core/dav/DAVTimestampFeature.java
  webdav/src/test/java/ch/cyberduck/core/dav/DAVTimestampFeatureTest.java
Labels: webdav

#15957 Update response in transfer status with actual set timestamp with pre…
  azure/src/main/java/ch/cyberduck/core/azure/AzureAclPermissionFeature.java
  backblaze/src/main/java/ch/cyberduck/core/b2/B2BucketTypeFeature.java
  core/src/main/java/ch/cyberduck/core/PathAttributes.java
  core/src/main/java/ch/cyberduck/core/features/AclPermission.java
  core/src/main/java/ch/cyberduck/core/features/UnixPermission.java
  core/src/main/java/ch/cyberduck/core/transfer/TransferStatus.java
  core/src/main/java/ch/cyberduck/core/transfer/copy/AbstractCopyFilter.java
  core/src/main/java/ch/cyberduck/core/transfer/upload/AbstractUploadFilter.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryAclPermissionFeature.java
  core/src/main/java/ch/cyberduck/core/vault/registry/VaultRegistryUnixPermissionFeature.java
  core/src/test/java/ch/cyberduck/core/transfer/copy/OverwriteFilterTest.java
  core/src/test/java/ch/cyberduck/core/worker/ReadAclWorkerTest.java
  core/src/test/java/ch/cyberduck/core/worker/ReadPermissionWorkerTest.java
  core/src/test/java/ch/cyberduck/core/worker/WriteAclWorkerTest.java
  core/src/test/java/ch/cyberduck/core/worker/WritePermissionWorkerTest.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoAclPermission.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoUnixPermission.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSPermissionsFeature.java
  eue/src/main/java/ch/cyberduck/core/eue/EueTimestampFeature.java
  ftp/src/main/java/ch/cyberduck/core/ftp/FTPMFMTTimestampFeature.java
  ftp/src/main/java/ch/cyberduck/core/ftp/FTPUTIMETimestampFeature.java
  ftp/src/main/java/ch/cyberduck/core/ftp/FTPUnixPermissionFeature.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageAccessControlListFeature.java
  nio/src/main/java/ch/cyberduck/core/nio/LocalTimestampFeature.java
  nio/src/main/java/ch/cyberduck/core/nio/LocalUnixPermissionFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3AccessControlListFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3TimestampFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBTimestampFeature.java
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPTimestampFeature.java
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPUnixPermissionFeature.java
Labels: ftp, sftp

#15961 Cover "long term retention.txt" in CteraAttributesFinderFeatureTest.
  ctera/src/test/java/ch/cyberduck/core/ctera/CteraAttributesFinderFeatureTest.java
Labels: ctera
