Repository iterate-ch/cyberduck, pull requests merged in 2024-04, with the labels that each got.

#15800 Register file id provider.
  core/src/main/java/ch/cyberduck/core/features/DefaultFileIdProvider.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraSession.java
Labels: ctera

#15829 Do not add bearer authorization for pre-authenticated download URLs.
  onedrive/src/main/java/ch/cyberduck/core/onedrive/GraphSession.java
Labels: onedrive

#15828 Always update Filename on selection change
  windows/src/main/csharp/ch/cyberduck/ui/controller/InfoController.cs
Labels: interface, enhancement

#15788 Protocol for resumable uploads implementation
  core/src/main/java/ch/cyberduck/core/transfer/TransferStatus.java
  core/src/main/java/ch/cyberduck/core/transfer/upload/ResumeFilter.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoUploadFeature.java
  defaults/src/main/resources/default.properties
  owncloud/pom.xml
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OcisUploadFeature.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudSession.java
  owncloud/src/test/java/ch/cyberduck/core/cryptomator/OcisUploadFeatureTest.java
  owncloud/src/test/java/ch/cyberduck/core/owncloud/AbstractOcisTest.java
  owncloud/src/test/java/ch/cyberduck/core/owncloud/OcisUploadFeatureTest.java
  owncloud/src/test/resources/ownCloud oCIS.cyberduckprofile
  pom.xml
  tus/pom.xml
  tus/src/main/java/ch/cyberduck/core/tus/TusCapabilities.java
  tus/src/main/java/ch/cyberduck/core/tus/TusCapabilitiesResponseHandler.java
  tus/src/main/java/ch/cyberduck/core/tus/TusUploadFeature.java
  tus/src/main/java/ch/cyberduck/core/tus/TusWriteFeature.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVClient.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVSession.java
Labels: owncloud

#15852 Fix deserialization of ACL with no roles
  core/src/main/java/ch/cyberduck/core/serializer/AclDictionary.java
  core/src/test/java/ch/cyberduck/core/serializer/AclDictionaryTest.java
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraAttributesFinderFeature.java
Labels: ctera

#15818 Fix #15817
  defaults/src/main/resources/default.properties
  smb/src/main/java/ch/cyberduck/core/smb/SMBSession.java
Labels: smb

#15840 Review OCS extensions
  core/src/main/java/ch/cyberduck/core/PathRelativizer.java
  core/src/test/java/ch/cyberduck/core/PathRelativizerTest.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudShareFeature.java
  nextcloud/src/test/java/ch/cyberduck/core/nextcloud/NextcloudShareFeatureTest.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudSession.java
Labels: nextcloud, owncloud

#15856 Include checksum in property key to save resumable file upload URL.
  tus/src/main/java/ch/cyberduck/core/tus/TusUploadFeature.java
  tus/src/main/java/ch/cyberduck/core/tus/TusWriteFeature.java
Labels: owncloud

#15859 Review disk share pooling
  smb/src/main/java/ch/cyberduck/core/smb/SMBSession.java
Labels: smb

#15860 Disable lock support using property in connection profile.
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudSession.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudSession.java
  profiles/default/Nextcloud.cyberduckprofile
  profiles/default/ownCloud.cyberduckprofile
Labels: nextcloud, owncloud

#15868 Only share context in subsequent logical requests
  core/src/main/java/ch/cyberduck/core/http/CustomHttpRequestExecutor.java
  core/src/main/java/ch/cyberduck/core/http/DelayedHttpEntity.java
  core/src/main/java/ch/cyberduck/core/http/HttpConnectionPoolBuilder.java
  defaults/src/main/resources/default.properties
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudWriteFeature.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVClient.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVSession.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVUploadFeature.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVWriteFeature.java
  webdav/src/main/java/ch/cyberduck/core/dav/microsoft/MicrosoftIISFeaturesResponseHandler.java
  webdav/src/test/java/ch/cyberduck/core/dav/microsoft/AbstractMicrosoftIISDAVTest.java
  webdav/src/test/java/ch/cyberduck/core/dav/microsoft/MicrosoftIISDAVLockFeatureTest.java
  webdav/src/test/java/ch/cyberduck/core/dav/microsoft/MicrosoftIISDAVReadFeatureTest.java
  webdav/src/test/java/ch/cyberduck/core/dav/microsoft/MicrosoftIISDAVTimestampFeatureTest.java
  webdav/src/test/java/ch/cyberduck/core/dav/microsoft/MicrosoftIISDAVUploadFeatureTest.java
Labels: webdav, sharepoint
