Repository iterate-ch/cyberduck, pull requests merged in 2025-05, with the labels that each got.

#17073 Validate response.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraBulkFeature.java
  ctera/src/test/java/ch/cyberduck/core/ctera/CteraDirectIOReadFeatureTest.java
Labels: ctera

#17074 Fix null pointer for bulk feature.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraSession.java
Labels: ctera

#17086 Rate-limit/Synchronize TaskDialog creation to one at a time
  core/src/main/csharp/ch/cyberduck/core/taskdialog/TaskDialog.cs
Labels: bug, interface, windows

#17089 Return instance for root to allow modifications by caller.
  box/src/test/java/ch/cyberduck/core/box/BoxDirectoryFeatureTest.java
  box/src/test/java/ch/cyberduck/core/box/BoxMultipartWriteFeatureTest.java
  box/src/test/java/ch/cyberduck/core/box/BoxShareFeatureTest.java
  box/src/test/java/ch/cyberduck/core/box/BoxTouchFeatureTest.java
  box/src/test/java/ch/cyberduck/core/box/BoxWriteFeatureTest.java
  core/src/main/java/ch/cyberduck/core/PathCache.java
  core/src/main/java/ch/cyberduck/core/features/Home.java
  core/src/main/java/ch/cyberduck/core/shared/DefaultPathHomeFeature.java
  core/src/main/java/ch/cyberduck/core/shared/DelegatingHomeFeature.java
  core/src/main/java/ch/cyberduck/core/shared/PathAttributesHomeFeature.java
  core/src/main/java/ch/cyberduck/core/shared/TildeResolvingHomeFeature.java
  core/src/test/java/ch/cyberduck/core/shared/ListFilteringFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxFindFeatureTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxPathContainerServiceTest.java
  deepbox/src/test/java/ch/cyberduck/core/deepbox/DeepboxTouchFeatureTest.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveSearchListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractSharepointSession.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/GraphAttributesFinderFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/GraphQuotaFeatureTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/OneDriveListServiceTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/SharepointListServiceTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/SharepointSessionTest.java
  onedrive/src/test/java/ch/cyberduck/core/onedrive/SharepointSiteSessionTest.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftDistributionConfigurationLoader.java
  s3/src/main/java/ch/cyberduck/core/cloudfront/CloudFrontDistributionConfigurationPreloader.java
  s3/src/main/java/ch/cyberduck/core/s3/S3LoggingFeature.java
  s3/src/test/java/ch/cyberduck/core/cloudfront/CustomOriginCloudFrontDistributionConfigurationTest.java
  s3/src/test/java/ch/cyberduck/core/cloudfront/WebsiteCloudFrontDistributionConfigurationTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3FindFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3ListServiceTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3LocationFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3ObjectListServiceTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3SearchFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3TouchFeatureTest.java
  s3/src/test/java/ch/cyberduck/core/s3/S3VersionedObjectListServiceTest.java
  smb/src/test/java/ch/cyberduck/core/smb/SMBRootListServiceTest.java
  spectra/src/test/java/ch/cyberduck/core/spectra/SpectraTouchFeatureTest.java
  storegate/src/test/java/ch/cyberduck/core/storegate/StoregateAttributesFinderFeatureTest.java
Labels: core

#17087 Use regular dual-stack endpoints for presigned S3 URLs.
  s3/src/main/java/ch/cyberduck/core/s3/S3PresignedUrlProvider.java
  s3/src/main/java/ch/cyberduck/core/s3/S3UrlProvider.java
  s3/src/test/java/ch/cyberduck/core/s3/S3PresignedUrlProviderTest.java
Labels: s3

#17098 Remove unnecessary synchronization
  core/dylib/src/main/java/ch/cyberduck/core/local/WorkspaceApplicationLauncher.java
  core/src/main/java/ch/cyberduck/core/transfer/download/AbstractDownloadFilter.java
  defaults/src/main/resources/default.properties
Labels: core

#17097 Lookup incomplete multipart uploads
  backblaze/src/main/java/ch/cyberduck/core/b2/B2AttributesFinderFeature.java
  core/src/main/java/ch/cyberduck/core/transfer/UploadTransfer.java
  core/src/main/java/ch/cyberduck/core/transfer/upload/AbstractUploadFilter.java
  s3/src/main/java/ch/cyberduck/core/s3/S3AttributesFinderFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3ListService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartUploadService.java
  s3/src/main/java/ch/cyberduck/core/s3/S3ThresholdUploadService.java
Labels: s3

#17124 Check status prior submitting parts.
  backblaze/src/main/java/ch/cyberduck/core/b2/B2LargeUploadService.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickUploadFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectS3UploadFeature.java
  eue/src/main/java/ch/cyberduck/core/eue/EueLargeUploadService.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftLargeObjectUploadFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3MultipartUploadService.java
  tus/src/main/java/ch/cyberduck/core/tus/TusUploadFeature.java
Labels: s3, openstack, b2, dracoon
