Repository iterate-ch/cyberduck, pull requests merged in 2025-08, with the labels that each got.

#17303 Add vault reference to comparison.
  core/src/main/java/ch/cyberduck/core/PathAttributes.java
  core/src/test/java/ch/cyberduck/core/local/DefaultTemporaryFileServiceTest.java
  core/src/test/java/ch/cyberduck/core/local/FlatTemporaryFileServiceTest.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoTransferStatus.java
Labels: cryptomator

#17305 GroupMember.Read.All permission required for Group Displayname
  profiles/default/Microsoft SharePoint.cyberduckprofile
Labels: sharepoint

#17339 Use broadly supported PackagePath API
  core/src/main/csharp/Cyberduck.Core.Native.csproj
  core/src/main/csharp/ch/cyberduck/core/EnvironmentInfo.cs
Labels: appstore, windows

#17383 Make sure to invoke DAVClient#execute to attach auth cache.
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OcisUploadFeature.java
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudSession.java
  owncloud/src/test/java/ch/cyberduck/core/cryptomator/OcisUploadFeatureTest.java
  owncloud/src/test/java/ch/cyberduck/core/owncloud/OcisUploadFeatureTest.java
  tus/pom.xml
  tus/src/main/java/ch/cyberduck/core/tus/TusUploadFeature.java
  tus/src/main/java/ch/cyberduck/core/tus/TusWriteFeature.java
Labels: owncloud

#17373 Only trim input after end of editing.
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/BookmarkController.java
Labels: interface
