Repository iterate-ch/cyberduck, pull requests merged in 2025-04, with the labels that each got.

#17023 Only attempt to resolve address with no proxy configuration.
  core/src/main/java/ch/cyberduck/core/diagnostics/HttpReachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/ReachabilityFactory.java
  core/src/main/java/ch/cyberduck/core/diagnostics/ResolverReachability.java
  core/src/main/java/ch/cyberduck/core/diagnostics/TcpReachability.java
Labels: core

#17026 Unlinking file is allowed regardless of write permission.
  core/src/main/java/ch/cyberduck/core/features/Delete.java
Labels: sftp

#17040 Ensure default features cache decrypted contents
  azure/src/test/java/ch/cyberduck/core/cryptomator/AzureListServiceTest.java
  core/src/main/java/ch/cyberduck/core/CachingAttributesFinderFeature.java
  core/src/main/java/ch/cyberduck/core/CachingFindFeature.java
  core/src/main/java/ch/cyberduck/core/CachingListProgressListener.java
  core/src/main/java/ch/cyberduck/core/MemoryListProgressListener.java
  core/src/main/java/ch/cyberduck/core/shared/ListFilteringFeature.java
  core/src/main/java/ch/cyberduck/core/vault/DecryptingListProgressListener.java
  core/src/main/java/ch/cyberduck/core/vault/VaultFinderListService.java
  core/src/main/java/ch/cyberduck/core/worker/AttributesWorker.java
  core/src/main/java/ch/cyberduck/core/worker/FindWorker.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoAttributesFeature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoFindFeature.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoListService.java
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/features/CryptoVersioningFeature.java
  ftp/src/test/java/ch/cyberduck/core/cryptomator/FTPListServiceTest.java
  googlestorage/src/test/java/ch/cyberduck/core/cryptomator/GoogleStorageListServiceTest.java
  ssh/src/test/java/ch/cyberduck/core/cryptomator/SFTPListServiceTest.java
Labels: cryptomator

#17045 Ignore failure resolving invalid bookmark data.
  core/dylib/src/main/java/ch/cyberduck/core/local/FinderLocal.java
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPSession.java
Labels: sftp

#16606 Allow verifying registration keys when running in store context.
  osx/src/main/java/ch/cyberduck/ui/cocoa/controller/MainController.java
  setup/app/Info.plist
  setup/pkg/Info.plist
Labels: appstore

#17051 Update dependency.
  pom.xml
Labels: s3

#16601 Remove Tresor support
  eue/src/main/java/ch/cyberduck/core/eue/EueDeleteFeature.java
  eue/src/main/java/ch/cyberduck/core/eue/EueMoveFeature.java
  eue/src/main/java/ch/cyberduck/core/eue/EueSession.java
  eue/src/main/java/ch/cyberduck/core/eue/EueTrashFeature.java
  eue/src/test/resources/mac/GMX Cloud.cyberduckprofile
  eue/src/test/resources/windows/GMX Cloud.cyberduckprofile
Labels: 1&1

#17059 Reject items with null id
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractDriveListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractItemListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/AbstractListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/sharepoint/GroupListService.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/sharepoint/SitesListService.java
Labels: bug, onedrive, sharepoint

#17069 Make stream releasable.
  googledrive/src/main/java/ch/cyberduck/core/googledrive/AbstractDriveListService.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveReadFeature.java
Labels: googledrive

#17070 Fix #16983.
  owncloud/src/main/java/ch/cyberduck/core/owncloud/OwncloudSession.java
Labels: owncloud
