Repository iterate-ch/cyberduck, pull requests merged in 2025-07, with the labels that each got.

#17226 Access to the directory id cache must be synchronized.
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/impl/CryptoDirectoryV6Provider.java
Labels: cryptomator

#17238 Add parameter to limit search to vault root
  core/src/main/java/ch/cyberduck/core/features/Vault.java
  core/src/main/java/ch/cyberduck/core/vault/DefaultVaultRegistry.java
  core/src/main/java/ch/cyberduck/core/vault/VaultRegistry.java
Labels: cryptomator

#17248 Review reading vault configuration and fallback.
  cryptomator/src/main/java/ch/cyberduck/core/cryptomator/CryptoVault.java
  ftp/src/test/java/ch/cyberduck/core/ftp/FTPReadFeatureTest.java
Labels: ftp, cryptomator

#17258 Ensure WebUrl is not null
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphAttributesFinderFeature.java
Labels: onedrive

#17255 Always scroll to recently added transfer
  windows/src/main/csharp/ch/cyberduck/ui/ViewModels/TransfersViewModel.cs
Labels: interface

#17268 Migrate AppData UserConfig to package path
  core/src/main/csharp/ch/cyberduck/core/preferences/LocalSharedFileSettingsProvider.cs
Labels: core, mountainduck

#17267 Skip bogus guid.
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraAttributesFinderFeature.java
Labels: ctera

#17274 Apply default ACL when copying file and reading ACLs on source bucket…
  s3/src/main/java/ch/cyberduck/core/s3/S3CopyFeature.java
Labels: s3

#17265 Custom download URL check intervals.
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxReadFeature.java
  defaults/src/main/resources/default.properties
Labels: deepbox
