Repository iterate-ch/cyberduck, pull requests merged in 2025-03, with the labels that each got.

#16914 Return copy with updated attributes not modifying parameter
  backblaze/src/main/java/ch/cyberduck/core/b2/B2CopyFeature.java
  backblaze/src/main/java/ch/cyberduck/core/b2/B2DirectoryFeature.java
  backblaze/src/main/java/ch/cyberduck/core/b2/B2LargeCopyFeature.java
  box/src/main/java/ch/cyberduck/core/box/BoxCopyFeature.java
  box/src/main/java/ch/cyberduck/core/box/BoxDirectoryFeature.java
  box/src/main/java/ch/cyberduck/core/box/BoxMoveFeature.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickCopyFeature.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickDirectoryFeature.java
  brick/src/main/java/ch/cyberduck/core/brick/BrickMoveFeature.java
  core/src/main/java/ch/cyberduck/core/worker/CreateDirectoryWorker.java
  core/src/main/java/ch/cyberduck/core/worker/MoveWorker.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxCopyFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxDirectoryFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxMoveFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSCopyFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDelegatingCopyFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSDirectoryFeature.java
  dracoon/src/main/java/ch/cyberduck/core/sds/SDSMoveFeature.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxCopyFeature.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxDirectoryFeature.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxMoveFeature.java
  ftp/src/main/java/ch/cyberduck/core/ftp/FTPMoveFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveCopyFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveDirectoryFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveMoveFeature.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageCopyFeature.java
  googlestorage/src/main/java/ch/cyberduck/core/googlestorage/GoogleStorageDirectoryFeature.java
  manta/src/main/java/ch/cyberduck/core/manta/MantaMoveFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphCopyFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphDirectoryFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphMoveFeature.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftDefaultCopyFeature.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftDirectoryFeature.java
  openstack/src/main/java/ch/cyberduck/core/openstack/SwiftLargeObjectCopyFeature.java
  s3/src/main/java/ch/cyberduck/core/s3/S3CopyFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBMoveFeature.java
  ssh/src/main/java/ch/cyberduck/core/sftp/SFTPMoveFeature.java
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateCopyFeature.java
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateDirectoryFeature.java
  storegate/src/main/java/ch/cyberduck/core/storegate/StoregateMoveFeature.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVCopyFeature.java
  webdav/src/main/java/ch/cyberduck/core/dav/DAVMoveFeature.java
Labels: core

#16930 Skip trashed files in downloads
  core/src/main/java/ch/cyberduck/core/ProxyFilter.java
  core/src/main/java/ch/cyberduck/core/filter/DownloadDuplicateFilter.java
  core/src/main/java/ch/cyberduck/core/filter/DownloadFilter.java
  core/src/main/java/ch/cyberduck/core/filter/DownloadRegexFilter.java
  core/src/main/java/ch/cyberduck/core/filter/UploadFilter.java
  core/src/main/java/ch/cyberduck/core/filter/UploadRegexFilter.java
  core/src/main/java/ch/cyberduck/core/transfer/DownloadTransfer.java
  core/src/main/java/ch/cyberduck/core/transfer/UploadTransfer.java
Labels: googledrive, box

#16936 Disallow sharing root.
  box/src/main/java/ch/cyberduck/core/box/BoxShareFeature.java
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxShareFeature.java
  dropbox/src/main/java/ch/cyberduck/core/dropbox/DropboxShareFeature.java
  googledrive/src/main/java/ch/cyberduck/core/googledrive/DriveSharingUrlProvider.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudHomeFeature.java
  nextcloud/src/main/java/ch/cyberduck/core/nextcloud/NextcloudShareFeature.java
  onedrive/src/main/java/ch/cyberduck/core/onedrive/features/GraphSharedLinkFeature.java
Labels: googledrive, dropbox, onedrive, box, sharepoint, nextcloud, owncloud

#16943 Attach password to credentials as we do not support partial updates i…
  ctera/src/main/java/ch/cyberduck/core/ctera/CteraAuthenticationHandler.java
Labels: ctera

#16955 Make aware of none value for configuration directives in OpenSSH configuration
  ssh/src/main/java/ch/cyberduck/core/sftp/openssh/OpenSSHCredentialsConfigurator.java
  ssh/src/main/java/ch/cyberduck/core/sftp/openssh/OpenSSHIdentityAgentConfigurator.java
  ssh/src/main/java/ch/cyberduck/core/sftp/openssh/config/transport/OpenSshConfig.java
Labels: sftp

#16979 Lazy initialize DiskSharePool.
  smb/src/main/java/ch/cyberduck/core/smb/SMBSession.java
Labels: smb

#16978 Allow anonymous login configuration.
  profiles/default/SMB.cyberduckprofile
Labels: smb

#16988 Include verified Personal Deepbox.
  deepbox/src/main/java/ch/cyberduck/core/deepbox/DeepboxListService.java
Labels: deepbox

#16994 Release share on I/O error.
  smb/src/main/java/ch/cyberduck/core/smb/SMBReadFeature.java
  smb/src/main/java/ch/cyberduck/core/smb/SMBWriteFeature.java
Labels: smb

#17002 Load QuickConnect on Favorites loaded
  windows/src/main/csharp/ch/cyberduck/ui/controller/BrowserController.cs
Labels: bug, interface, windows

#17001 Use existing methods of fetching application icons
  windows/src/main/csharp/ch/cyberduck/ui/winforms/PreferencesForm.cs
Labels: bug
