Repository iterate-ch/cyberduck, pull requests merged in 2025-02, with the labels that each got.

#16832 Revert "Use custom home feature."
  onedrive/src/main/java/ch/cyberduck/core/onedrive/OneDriveSession.java
Labels: onedrive

#16836 Remove validation for target session only applied in worker
  core/src/main/java/ch/cyberduck/core/shared/DefaultCopyFeature.java
  ftp/src/test/java/ch/cyberduck/core/shared/StatefulDefaultCopyFeatureTest.java
Labels: ftp

#16853 Include API response error
  onedrive/pom.xml
Labels: onedrive, sharepoint

#16856 Update OneDrive Java Client to include improved logging
  onedrive/pom.xml
Labels: onedrive

#16884 Include size property when patching resource.
  eue/src/main/java/ch/cyberduck/core/eue/EueUploadHelper.java
Labels: 1&1
